<!--upgrade modal-->
<div id="event-creation-modal">

	    <button data-remodal-action="close" class="remodal-close"></button>
	    
	    <div class="modal-header">
	    	<i class="icon icon-check"> </i>
		    <h2>And you're done!</h2>
		    <p>  
		      Your event is setup and ready to share. That was easy! I hope you weren't expecting more work.
		    </p>
	    </div>


	    <div class="modal-body">
		  	<%= link_to 'Check out my event website', slugger_path(@event), class: 'btn', target: '_blank' %>
		    <p><a href="#" data-remodal-action="close">Or, return my event dashboard</a> </p>
	    </div>


</div>
<!-- END modal -->



<script>

$(document).ready(function(){

			
			
		//modal
    var eventModal = $('#event-creation-modal').remodal();
    $('.open-event').click(function(){
        eventModal.open();
    });
   // alert(String(window.location.href).indexOf('?first=true'));
    if(window.location.href.indexOf('?first=true') > -1) {
    		eventModal.open();
       }
});


</script>