<!--upgrade modal-->
<div id="upgrade-modal">

		<div class="modal-header">
	    <button data-remodal-action="close" class="remodal-close"></button>
	    <i class="icon icon-line-email"> </i>
	    <h2>Upgrade now</h2>
	    <p> Premium: $7.00/month. 
	      Please upgrade your account to create unlimited websites. You may cancel at anytime.
	    </p>
    </div>
    
		<!-- upgrade carousel -->
		
		<div class="modal-body">
		
    <div class="upgrade-owl owl-carousel"> 

		
			
			<!-- plan form -->
<!--		 <div class="owl-item"> 
				<a class="plan-container"> 
					<div class="plan">
						<h2>Premium </h2>
						<div class="price">$7/mo</div>
						<ul class="features"> 
							<li>Unlimited event websites </li>
							<li>Unlimited email invites</li>
							<li></li>						
						</ul>  
						<div class="btn">Choose plan </div>      				   
					</div>
				</a>
				    	
				
				<a class="plan-container"> 
					<div class="plan">
						<h2>Pro </h2>
						<div class="price">$19/mo</div>
						<ul class="features"> 
						<li>Unlimited event websites </li>
						<li>Unlimited email invites</li>
						<li>Paid events</li>											
						</ul>  
						<div class="btn">Choose plan </div>      				   
					</div>
				</a>

		 </div>-->

	   
	   
	   	<!-- payment form -->
	    <div class="owl-item"> 
	    	<form id="payment-form">
		    	
		    	<div class="be-validation"> </div>
		    	
		    	<div class="input-group">
		    		<label>Credit card number</label>
		    		<input  type="text" id="cc" placeholder="5555 5555 5555 5555" class="input-large cc-number"  >
		    		<p>We  accept Visa, Mastercard and American Express credit cards.</p>
		    		<div id="lock"><i class="icon icon-raw-lock"></i> </div>
		    	</div>
		    	
		    	<div class="input-group">
			    	
			    	<div class="input-group-inline">	 
			    		<label>Expiration (month/year)</label>
			    		<input placeholder="12 / 2018" class="cc-exp" type="text" >	
			    	</div>
			    	
			    	<div class="input-group-inline" id="cvv"> 
			    		<label>CVV</label>
			    		<input class="cc-cvc" type="text" placeholder="CVV" maxlength="4" >
			    	</div>
			    		
			    </div>	
			    
			    
		    	<div class="input-group">
			      <button class="btn btn-large" >Upgrade my account now</button>
			      <p><i class="icon icon-raw-lock"></i>Secured with 256-bit encryption </p>
			    </div> 
			     
			      <p>By upgrading your account, you agree to the <a href="/terms" target="_blank"> terms and conditions</a>. </p>
	    	</form>
	    </div>


			<!-- success form -->
			<div class="owl-item"> 
				<div class="input-group input-group-centered" id="success">
					<p> Thank you. Your account is now premium!</p>
					<p> We've sent a receipt to mjbushy@gmail.com </p>
					<button type="submit" class="btn btn-large" data-remodal-action="confirm" class="remodal-confirm">Great! Let's make some events!</button>
				</div>
			</div>    
					
	
		</div>
		<!-- END upgrade carousel -->
		 
		 
		</div> 
		
</div>
<!-- END modal -->



<script>

$(document).ready(function(){


		var upgradeOwl = $(".upgrade-owl.owl-carousel").owlCarousel({  
			mouseDrag:false,
				touchDrag:false,
				freeDrag:false,
				pullDrag:false,
				items:1,
				autoHeight : true	
			});
			
			
		//modal
    var upgradeModal = $('#upgrade-modal').remodal();
    $('.open-upgrade').click(function(){
        upgradeModal.open();
    });
    
    


    
    //stripe jquery validate plugin https://github.com/stripe/jquery.payment
      
    $('.cc-number').payment('formatCardNumber');
    $('.cc-exp').payment('formatCardExpiry');
    $('.cc-cvc').payment('formatCardCVC');
     
     $('#payment-form').submit(function(e){
       
       e.preventDefault();
       $('input').removeClass('invalid');
         
       var cardType = $.payment.cardType($('.cc-number').val());
       $('.cc-number').toggleClass('invalid', !$.payment.validateCardNumber($('.cc-number').val()));
       $('.cc-exp').toggleClass('invalid', !$.payment.validateCardExpiry($('.cc-exp').payment('cardExpiryVal')));
       $('.cc-cvc').toggleClass('invalid', !$.payment.validateCardCVC($('.cc-cvc').val(), cardType));
     
       if ( !$('input.invalid').length ) {
          	
          	
          	//INSERT STRIPE.JS CODE HERE
          	
          	//if there are any back end validation issues (ie cc not valid), add to $(".be-validation").html();
          	
          	//ON SUCCESS, GO TO NEXT SLIDE
          	upgradeOwl.trigger('next.owl.carousel');
						
						//should we refresh the page to hide the upgrade links and roadbloacks
						
						
         }
       });
});


</script>