<% title "Contact List" %>
<div class="event-header container"> 

	<div class="event-meta"> 
		<h1>my contacts<sup>beta</sup> </h1>
		<p class="lead">Track your attendees, manage  contacts, and start building a community you can count on.
		</p>
	</div>

</div>



<div class="container">

	<table>
		<thead>
			<th>Name</th>
			<th>Email</th>
			<th>Actions</th>
		</thead>
		<tbody>
			<%  @contacts.each do |item| %>
				<tr>
					<td><%= item.first_name %> <%= item.last_name %></td>
					<td><%= item.email %></td>
					<td><a href="mailto:<%= item.email %>">Send Message</a></td>
				</tr>
			<% end %>
		</tbody>
	</table>

	
</div>