




<!-- header editor module for saving/link outs -->

<div class="event-editor-draft-container" id="event_draft">

	<div class="event-creation-navigation-container">
	  <a class="btn-next event-creation-navigation event-creation-next btn" id="publish"> Publish my event! </a>
	  <div class="event-creation-help">
	    <a href="dashboard/event?event=<%= @event.id %>">save as draft </a>
	    <%# link_to 'help', '//eventcreate.zendesk.com' %>
	    <%# link_to 'cancel', dashboard_index_path, :data => {:confirm => 'Are you sure you want to cancel?'} %>
	 </div>
	</div>

	<div class="full-page-loader visible" id="event-creation-loader" style="z-index:99999999999">
	      <i class='icon icon-loader'></i> 
	      <h2>Now, the fun part! </h2> <h3> It's time to customize your website's background image and fonts.</h3>
	</div>



</div>





<div class="event-editor-draft-container" id="event_published">


	<div class="event-creation-navigation-container">
	  <div class="event-creation-help">
	   	<a id="editor-saving-status"> </a>
	 </div>
	</div>



	<div class="full-page-loader visible" id="event-creation-loader" style="z-index:99999999999">
	      <i class='icon icon-loader'></i> <h4>loading editor</h4> 
	</div>



	<!--START nav-->
	<div class="show-navigation-container"> 


	      <div class="tabs dropdown">
	       <a class="tab" id="show-dropdown"><i class="icon icon-hamburger"> </i> <span> Modify background Image  </span></a> 

	      <ul class="dropdown-menu">
	          <li style="display:none;"><a id="view-invite"><i class="icon icon-email"> </i>  Switch to invite view <p>Preview your email invitation </p></a> </li>
	          <li style=""><a id="view-website"><i class="icon icon-bolt"> </i>  Switch to website view <p>Preview your event website  </p></a> </li>
	          <li> <%= link_to "<i class='icon icon-pencil'> </i> Edit event details<p> Modify your event details</p>".html_safe, dashboard_event_path(:event => @event.id) + '#settings' %></li>

	         <li> <%= link_to "<i class='icon icon-home'> </i> Event dashboard <p> event guest list and analytics</p>".html_safe, dashboard_event_path(:event => @event.id) %></li>


	         <li> <%= link_to "<i class='icon icon-bolt'> </i>  Preview website<p>View website as an attendee </p>".html_safe, slugger_path(@event.slug), :id => 'view-website', :target => '_blank'  %></li>

 
	      </ul>

	     </div>
	    <!--END nav -->

	</div>


</div>



