<!DOCTYPE html>
<html>
<head>
<meta content="text/html; charset=UTF-8" http-equiv="Content-Type">
</head>
<body style="padding: 0; margin: 0; background-color: #fff; color: #333; font-family: Arial, sans-serif;" bgcolor="#fff"> 
Hi there, 
<br><br>

I  wanted to reach out to see if you had any questions about setting up your event website? I'm happy to help! 
<br><br>

Best, <br> Mark Bushy
<br><br>

Co-Founder, EventCreate<br>
mark@eventcreate.com<br>
(617) 752-2176
<br><br>


<p style="font-size:10px; color:#999;">Don't want to recieve emails from us? Click <a href="UNSUBSCRIBE_LINK">here </a> to unsubscribe. </p>
</body>
</html>