<!DOCTYPE html>
<html>
<head>
<meta content="text/html; charset=UTF-8" http-equiv="Content-Type">
</head>
<body style="padding: 0; margin: 0; background-color: #fff; color: #333; font-family: Arial, sans-serif;" bgcolor="#fff"> 
Hi!
<br><br>
I'm Mark, one of the founders of EventCreate. Thanks for signing up for EventCreate! It looks like you've started creating an event website. Is there anything I can do to help?
<br><br>
Feel free to reply to this email with questions or feedback about how EventCreate can help you.
<br><br>
Best, <br> Mark 
<br><br>

mark@eventcreate.com<br>
(617) 752-2176
<br><br>


<p style="font-size:10px; color:#999;">Don't want to recieve emails from us? Click <a href="[UNSUBSCRIBE_LINK]">here </a> to unsubscribe. </p>
</body>
</html>