<!DOCTYPE html>
<html>
<head>
<meta content="text/html; charset=UTF-8" http-equiv="Content-Type">
<link type="text/css" rel="stylesheet" href="http://fast.fonts.net/cssapi/bf60a8d1-1e05-4ef0-bc32-3edaef6da022.css"/>
</head>
<body style="padding: 0; margin: 0; background-color: #fff; color: #333; font-family: Arial, sans-serif;" bgcolor="#fff"> 
<table cellpadding="0" cellspacing="0" class="wrapper" style="width: 100%; background-color: #fff;" bgcolor="#fff"> 	

<!--MAIN BODY-->
  	<tr>  
  	<td>
  			<table cellpadding="0" cellspacing="0" class="body-wrapper" align="center" style="width: 100%; max-width: 600px; background-color: #fff; text-align: center;" bgcolor="#fff">
  			
  			
	  			<tr> 
	  				<td>		
	  					<a href="https://www.eventcreate.com/create"><img width="600px" height="900px" style="display:block;" src="https://www.eventcreate.com/assets/emails/welcome_bg.jpg"></a>
	  				</td>
	  			</tr>

 
  			</table>		
  	
  	 
  	</td>
  	</tr>
<!--END MAIN BODY-->





<!--FOOTER -->
  	<tr>  
  	<td>
  			<table cellpadding="0" cellspacing="0" class="footer-wrapper" align="center" style="font-size: 11px; color: #999; width: 100%; max-width: 600px; text-align: center;">
					<tr>
						<td class="footer" style="padding-top: 20px; padding-bottom: 10px;">
							EventCreate is the world's best platform for creating beautiful event websites. If you have any feedback, we'd love to hear from you, so please feel free to contact us.
						</td>	
					</tr>	

					<tr>
						<td style="padding-top: 10px; padding-bottom: 40px;">
							© EventCreate, 2015 | 	<a href="#" style="color: #999;">Unsubscribe </a>
						</td>	
					</tr>		
  			</table>		
  	
  	 
  	</td>
  	</tr>
<!--END FOOTER-->


    
</table>     
</body>
</html>