<!--upgrade modal-->
<div id="contact-modal">
		<div class="modal-header">
	    <button data-remodal-action="close" class="remodal-close"></button>
	    <i class="icon icon-line-email"> </i>
	    <h2>Upgrade now</h2>
	    <p> Premium: $7.00/month. 
	      Please upgrade your account to create unlimited websites. You may cancel at anytime.
	    </p>
    </div>
    
		<!-- upgrade carousel -->
		
		<div class="modal-body">
		
    <div class="upgrade-owl owl-carousel"> 

		
			
			<!-- plan form -->
<!--		 <div class="owl-item"> 
				<a class="plan-container"> 
					<div class="plan">
						<h2>Premium </h2>
						<div class="price">$7/mo</div>
						<ul class="features"> 
							<li>Unlimited event websites </li>
							<li>Unlimited email invites</li>
							<li></li>						
						</ul>  
						<div class="btn">Choose plan </div>      				   
					</div>
				</a>
				    	
				
				<a class="plan-container"> 
					<div class="plan">
						<h2>Pro </h2>
						<div class="price">$19/mo</div>
						<ul class="features"> 
						<li>Unlimited event websites </li>
						<li>Unlimited email invites</li>
						<li>Paid events</li>											
						</ul>  
						<div class="btn">Choose plan </div>      				   
					</div>
				</a>

		 </div>-->

	   
	   
	   	<!-- payment form -->
	    <div class="owl-item"> 

	

	    	<form action="/users/<%= current_user.id%>/charge-card" method="POST" id="payment-form">
		    	
		    	<div class="be-validation">
		    	</div>
		    	
		    	<div class="input-group">
		    		<label>Credit card number</label>
		    		<input  type="text" id="cc" placeholder="5555 5555 5555 5555" class="input-large cc-number" >
		    		<p>We  accept Visa, Mastercard and American Express credit cards.</p>
		    		<div id="lock"><i class="icon icon-raw-lock"></i> </div>
		    	</div>
		    	
		    	<div class="input-group">
			    	
			    	<div class="input-group-inline">	 
			    		<label>Expiration (month/year)</label>
			    		<input placeholder="12 / 2018" class="cc-exp" type="text" >	
			    	</div>



			    	
			    	<div class="input-group-inline" id="cvv"> 
			    		<label>CVV</label>
			    		<input class="cc-cvc" type="text" placeholder="CVV" maxlength="4"  >
			    	</div>
			    		
			    </div>	
			    
			    
		    	<div class="input-group">
			      <button class="btn btn-large" >Upgrade my account now</button>
			      <p><i class="icon icon-raw-lock"></i>Secured with 256-bit encryption </p>
			    </div> 
			     
			      <p>By upgrading your account, you agree to the <a href="/terms" target="_blank"> terms and conditions</a>. </p>
			      <input type="hidden" id="user_premium" name="user[premium]" val="true" />
	    	</form>
	    </div>


			<!-- success form -->
			<div class="owl-item"> 
				<div class="input-group input-group-centered" id="success">
					<p> Thank you. Your account is now premium!</p>
					<p> We've sent a receipt to <%=current_user.email%> </p>
                    <%= link_to "Great! Let's make some events!",event_create_path, class: "btn btn-primary" %>
                 
				</div>
			</div>    
					
	
		</div>
		<!-- END upgrade carousel -->
		 
		 
		</div> 
		
</div>
<!-- END modal -->

<script type="text/javascript" src="/assets/payment-modal.js"></script>
