<!--link modal-->
<div id="image-search-modal" class="remodal"> 

	    <button data-remodal-action="close" class="remodal-close"></button>
	    <div class="modal-header modal-header-light">
		    <h2>Search images</h2>
		    <p>  
		      Find an image to replace your current background photo:
		    </p>
	    </div>
	    <div class="modal-body">
	    	<div class="input-group"> 
	    		<input type="text" placeholder="Enter a search term" value="" id="bgSearchTerm" >
	    		<a class="search-btn"><i class="icon icon-search"> </i> </a>
	    	</div>
            <div class="image-results"><ul class="list-inline"></ul></div>
	    </div>
</div>
<!-- END modal -->



