<!--link modal-->
<div id="image-search-modal"> 

	    <button data-remodal-action="close" class="remodal-close"></button>
	    <div class="modal-header">
	    	<i class="icon icon-line-share"> </i>
		    <h2>Search for Background Images</h2>
		    <p>  
		      Find an image to replace your current background photo:
		    </p>
	    </div>
	    <div class="modal-body">

	    	<div class="input-group"> 
	    		<input type="text" placeholder="Enter a search term" value="" id="bgSearchTerm" >
	    	</div>

            <input class="search-btn btn" value="find images" />
            <div class="image-results"><ul class="list-inline"></ul></div>
	    </div>
</div>
<!-- END modal -->



