body.profile {
	background:$brand-gray;
}

.profile .container {
	max-width:800px;
	margin:0 auto;
	padding:40px 0 0;


	.event-actions {
		padding: 10px 60px 60px 60px;

	}	

	h3 {
		margin-bottom: 40px;
   		border-bottom: 1px solid;
    	color: #888;
    	padding-bottom: 10px;
	}
}