

.dashboard {
	padding: 0;
	margin: 0;
	background:#fff;

	.container {
		padding:0 50px;

	}

	form {
		max-width:500px;
	}

	.form-element {
		position: relative;
	}
	label.error {
		top: 8px;
		right: 0;
	}
}



.dashboard-header {
	
	position:absolute;
	top:0;
	left:0;
	background:$brand-secondary;
	width:100%;
	color:#fff;

	
	.logo {
		width:23px;
		height:25px;
		margin:12px 20px 0 20px;
		padding:0;
		
	}
	
	a {
		color:#fff;
		font-weight:600;
		padding:16px;
		font-size:9px;
		opacity:.8;
		//text-transform:uppercase;
		//letter-spacing:2px;
		font-weight:800;

		    		//fix this later	
		font-size: 12px;
		font-weight: 600;
		position:relative;
		cursor:pointer;



		&.large-icon {
			line-height:0;

			i {
				font-size:20px;
			}

		}
		&:hover {

			color:$brand-primary;
			opacity:1;

		}
		

	}

	.left {
		float:left;
	}
	
	.right {
		float:right;
	}



	.dropdown {
		
		position:relative;

		a.open-dropdown {
			background: rgba(255, 255, 255, 0.1);
			border-left: 1px solid rgba(255, 255, 255, 0.1);
			border-right: 1px solid rgba(255, 255, 255, 0.1);	
		}



	    .dropdown-menu {
	    	position:absolute;
	    	top:80px;
	    	left:0;
			background:rgba(38, 43, 49, 0.9);
			width:160%;
			opacity:0;
			visibility:hidden;
			transition: all .2s ease-in-out;



			&.visible {
				top:60px;
				opacity:1;
				visibility:visible;					
			}


	    	li {
	    		font-size: 12px;
	    		cursor:pointer;
	    		display: block;

	    		a {
	    			color:#fff;
	    			display: block;
	
	    		}

	    		i {
			    	font-size:30px;
			    	margin-right:10px;
			    	float:left;
	   		 	}

	    		p {
	    			font-size:10px;
	    			opacity:.5;
	    			margin:0;
	    		}	

	    		&:hover {
	    			background:$brand-primary;
	    			color:#fff;
	    		}	


	    	}

	    }


	}



}




.event-header {
	
	background:$brand-secondary;
	color:#fff;
	padding-top:120px;
}



.event-meta {
	margin-bottom: 30px;


	h1 {
		font-size:48px !important;
		margin:0;

	}

	p.lead {
		font-size:18px;
	
		span {
			color:$brand-primary;
		}	
	}

}



.event-status {



	a.circle {
	    background: rgba(33, 175, 191, 0.11);
	    margin-top: 14px;
	    margin-right: 4px;

	    &:hover {
	    	background-color: lighten(#21afbf, 10%);
	    }
	}


	.event-link  {
		display:none;
		margin-top:14px;
	
		input {
			padding:10px 14px 10px 30px;	
		}
		
		i {
			position:absolute;
			top:7px;
			left:6px;
		
		}
	
	
	}


}


.empty {
	
	padding:100px 20px; 
	margin:0 auto;
	width:100%;
	max-width:700px;
	text-align:center;

	h2 {
		opacity:.5;
		margin-bottom:20px;	
	}
}


