.checkout-header {
	
	height: 200px;
	background-size: cover;
	background-position: 50%;
	position: relative;

}

.checkout-body {

	max-width: 800px;
    padding: 40px;
    background: #fff;
    box-shadow: 10px 10px 40px rgba(0, 0, 0, 0.05);
    position: relative;
    top: -50px;

}