




.brandon {

	font-family: "brandon-grotesque",sans-serif;
	font-style: normal;

	h1 {
		font-size:40px;
	}
	
}


.helvetica {
	
	font-family:Helvetica;
	text-transform:uppercase;
	letter-spacing:1px;
	font-weight:600;
		
	h1 {

		font-size:100px;
		line-height:105px;
		font-weight: 600;
	
	}
			
}


.sophia {
    font-family: "sofia-pro",sans-serif;
    font-weight: 300;
    color: #fff;
}



.futura {
	font-family: "futura-pt",sans-serif;
	font-weight: 700;


	h1 {
		font-size:140px;
		line-height:150px;
		font-weight: 700;

	}
}




.gotham {
	font-family: "Gotham SSm A", "Gotham SSm B";
	text-transform: uppercase;
	letter-spacing: 7px;	
	font-weight: 700;


	h1 {
		font-size: 16px;
		text-transform: uppercase;
		letter-spacing: 7px;	
		font-weight: 700;

	}
}




.freight {
	

    font-family: "freight-display-pro",sans-serif;
    font-style: italic;
    font-weight: 400;
    letter-spacing: 8px;
    text-transform: uppercase;
    font-style: italic;    

    h1 {
	    font-size: 40px;
	    letter-spacing: 8px;
	    text-transform: uppercase;
	    font-style: italic;

    }

}