
.event-show.show  .dashboard-header {
	position:fixed;
	top:0;
	left:0;
	box-shadow: 2px 2px 8px rgba(0,0,0,.4);

}

body.invite-view {
	background:$brand-gray;
}

.event-show.show .tablet {
	margin:0 auto;
	margin-top:50px;
	width:500px;
	box-shadow:2px 2px 10px rgba(0,0,0,.2);
	height:auto;

	.tablet-content {
		height:520px;
		overflow:scroll;
		border:1px solid $brand-gray;
	}

}



.show-view.website-container {
	


}

.show-view.invite-container {
	
	display:none;

}



.events nav {
	
    width: auto;
    display: none;
}


.events-list {
	.event {
		clear:both;
		margin:44px 0;
		box-sizing:border-box;

		&.inactive {
			opacity: .3;
		}
		
		.image {
			width:200px;
			height:200px;
			float:left;
			margin-right:30px;
			background-size:cover;
    		background-position: 50% 50%;
			display:block;
		
		}
		
		.title {
			font-size:30px;		
			font-weight:400;
		}
		
		.registrants {
			margin-top:20px;
		
		}
		
		.actions {
			margin-top:20px;
			
			a {
				font-size:12px;
				margin-right:10px;
				display:inline-block;
			}
		
		}
	
	
	
	}
	
	.event:after {
		content: "";
 		display: table;
 		clear: both;		
	}

}








//event editor


.editor-container {
	transition: bottom .2s ease-in-out;
	position:fixed;
	bottom:-100px;
	left:0;
	width:100%;
	z-index: 99;

	&.visible {
		bottom:0;
	}
}







.tabs {

	position: relative;
    top: -5px;
    margin:0 5px;

	&:after {
	
		content: "";
	 	display: table;
	 	clear: both;

	}

	a.tab {

		color: #fff;
		line-height: 38px;
		display: inline-block;
		background:$brand-secondary;
		padding:10px 20px;
		float:left;
		//box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.4);


		&.edit-save {
			float:right;

		}
		&#save {
			background:$brand-primary;
			
			&:hover {
				color:#fff;
				background:darken($brand-primary, 10%);
	
			}
		}
		
		&#discard {
			background:darken($brand-primary, 3%);


			&:hover {
				color:#fff;
				background:darken($brand-primary, 10%);

			}
		}	


		i {
		   	font-size: 20px;
		    position: relative;
		    top: 4px;
		}

		&.active {
			color:$brand-primary;
		}
	

		&:hover {
			color:$brand-primary;
		}

		span {
			display:none;
		}	


	}
}




	

	
	

	
.editor-tools	{

	background:$brand-secondary;
	height:100px;
	width:100%;

	.editor-tool {
		display:none;
	}
	
	a {
		color:#fff;
		width:25%;
		height:100px;
		float:left;
		display:block;
		text-align:center;
		padding-top:15px;
		font-size:12px;
		
		&:hover {
			background:$brand-primary;
		}
	
		
		i {
			display:block;
			font-size:40px;
			line-height:40px;
		}
	}

	.right {
		float:right;
		margin: 30px 10px 0 0;
	}

	#editor-tool-font a {

		width:16.666666666%;
		padding:0;
		font-size:20px;
		line-height:100px;
	}

}
	
	
	
	








.event-editor-container {
    z-index: 9999;

    a.highlight {
    	background: $brand-primary;
    }

    form input#event_background_img {
		//opacity: 0;
    }


    .celebrate.image {
		background-image:url(themes/celebrate_thumb.jpg) !important;
	
    }

    .default.image {
		background-image:url(themes/wedding_thumb.jpg) !important;
	
    }

    .epic.image {
		background-image:url(themes/epic_thumb.jpg) !important;

    }

    .gallery.image {

		background-image:url(themes/gallery_thumb.jpg) !important;
    }

    .minimalist.image {
		background-image:url(themes/minimalist_thumb.jpg) !important;

    }
    .getloud.image {
		background-image:url(themes/getloud_thumb.jpg) !important;

    }
}







#custom-image {
	position: relative;

	form {
		top: 45px;
		position: absolute;
		width: 100%;
		left: 0;

		.progress {
			position: absolute;
			width: 70%;
			top: 0px;
			left: 46px;
			.bar {
				margin: 0 auto;
				height: 5px;
				background: $brand-primary;
			}
		}
	}
}


.file-label {
	background: $brand-primary;
	padding: 10px 18px; 
	font-size: 8pt;
	cursor: pointer;
	border-radius: 16px;

	&:hover {
		background: lighten($brand-primary, 10%);
	}
}
#custom-file-input {
	opacity: 0;
}



.upload-container {
	position:absolute;
	width:100%;
	height:100%;
	top:0;
	left:0;

	.upload {
		width:100%;
		height:100%;
		margin:0 auto;
		border:2px dotted rgba(255,255,255,.4);
		top: 2.5%;
    	position: relative;
    	opacity:0;
    	-webkit-transition: all .5s ease;
   		transition: all .5s ease;
   		background:none !important;
   		visibility:hidden;

    	&.visible {
    		width:97%;
			height:95%;
			opacity:1;
			visibility:visible;
    	}

	}
}




.slider {

	display:inline-block;

	#slider {
		
		width: 160px;
	    background: rgba(255, 255, 255, 0.1);
	    height: 5px;
	    position: relative;

		span {

			width:14px;
			height:14px;
			border-radius:50%;
			background:$brand-primary;
			position:absolute;
			top:-5px;
			cursor:pointer;

		}


	}

}


.color-picker {
	display:inline-block;
	position:relative;

	#color {
    	background: rgba(255,255,255,.1);
    	border: none;
    	font-size: 11px;
    	width: 89px;
    	font-size: 12px;
    	color: #fff;
    	padding: 14px 10px;
	}
}


.cp-color-picker {
	z-index:9999999;
}

.minicolors-swatch {
	border:none !important;
}



