$nav_left_width: 72px;
$nav_top_height: 60px;
$editor_panel_padding:40px;

$editor_panel_width:1300px;



.event-nav-container {
	position: fixed;
	left:0;
	top:0;
	height:100%;
	background:#222;
	z-index:99999;

	.event-nav-logo {
		background:$brand-primary;
		display: block;
		width: $nav_left_width;
		text-align:center;
		height: 60px;

		svg {
			width: 35%;
    		margin: 0 auto;
    		padding-top: 15px;
		}
	}

	.event-nav-bottom {
		position: absolute;
		bottom:10px;
		width: 100%;
	}

	.event-nav-link {
		color: rgba(255,255,255,.5);
		line-height: 38px;
		display: block;
		//background:#fff;
		padding:10px 0;
		text-align:center;
		transition: padding .2s ease-in-out;
		position:relative;
		min-width:66px;
		max-width: $nav_left_width;
		text-decoration: none;
		overflow: hidden;

		i {
			font-size: 20px;
			position: relative;
			top: 4px;
			line-height: 0;
		}


		&.active {
			color:$brand-primary;
		}
		

		span {
		    font-size: 9px;
		    font-weight: 600;
		    line-height: 0;
		    display: block;
		    text-align: center;
		}	


		&:hover {
			background:darken($brand-secondary, 2.5%) !important;
			color:#fff;
		}
	}
}



.event-editor-section-container {
	transition: left .3s ease-in-out;
    position: fixed;
    top: 0;
    left: -100%;
    z-index: 99;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;

	&.visible {

		left:0;
		
	}


    .event-editor-sections {
    	background: #fff;
    	height: 800px;
    	overflow: scroll;
    	box-shadow: 5px 5px 10px rgba(0,0,0,.1);
		width:$editor_panel_width;


		.alert.alert-success {
			position:absolute;
			background:$brand-green;
			color:#fff;
			font-weight: 600;
		}

		.page-header {
			margin: 0 0 30px 0;
			border:none;

			h1 {
				font-size: 26px;
				line-height: 32px;
				font-weight: 600;
				margin-bottom: 0;
			}

			p {
				font-size: 16px;

			}
		}


		.editor-panel-primary {

			.editor-panel {
				padding:$editor_panel_padding;
				padding-top:$nav_top_height + $editor_panel_padding;
				padding-left:$nav_left_width + $editor_panel_padding;
    			margin-right: 320px;
			}

			.editor-aside {
				width: 320px;
    			float: right;
    			position:relative;
				padding:$editor_panel_padding;
				padding-top:$nav_top_height + $editor_panel_padding;
			}


    		&:before {
    			content: '';
    			position:absolute;
    			top:0;
    			right:0;
    			width:320px;
    			height: 100%;
    			background:rgba( #eff0f3, .5);
    		}		

		}


		.editor-panel-left-nav {

			.editor-panel {
    			margin-left: 400px;
    			position:relative;
				padding:$editor_panel_padding;
				padding-top:$nav_top_height + $editor_panel_padding;				

			}

    		.editor-aside {
    			float: left;
    			width: 400px;
				padding:60px 0 0 72px;
				position:absolute;
				overflow: scroll;
    			padding:$editor_panel_padding;
				padding-top:$nav_top_height;
				padding-left:$nav_left_width;
				padding-right:0;
				overflow: scroll;
				position:absolute;
				height: 700px;
    		}	


    		&:before {
    			content: '';
    			position:absolute;
    			top:0;
    			left:0;
    			width:100%;
    			height: 100%;
    			margin-left: 400px;
    			background:rgba( #eff0f3, .5);
    		}	

		}


		.editor-panel-top-nav {

			.editor-aside {
				background:rgba( #eff0f3, .5);
    			padding:$editor_panel_padding;
				padding-top:$nav_top_height + 14px;	
				padding-bottom:14px;
				padding-left:$nav_left_width + $editor_panel_padding;

			}

			.editor-panel {
				padding:16px 20px 40px 112px;
    			padding:$editor_panel_padding;
    			padding-top:14px;
				padding-left:$nav_left_width + $editor_panel_padding;
			}

		}


		.editor-panel-blank-state {
			text-align: center;

			i {
				font-size: 60px;
				display: inline-block;
			}

		}

    }


	.event-editor-header {

		height:$nav_top_height;
		position:fixed;
		background:#222;
		width:$editor_panel_width;
		z-index:99;
		padding:0 0 0 100px;

		a {
			line-height: 60px;
			padding:0 20px;
			color:#efefef;
			font-size:11px;
			font-weight: 600;
			text-decoration: none;
		
			&#editor-panel-close {
				display: inline-block;
				background:#111;
				border-left:1px solid rgba(0,0,0,.1);
				font-size:20px;
				float: right;

				i {
					//font-size:60px;
				}
			}

		}

	}

}




//FIX THIS OVERRIDE

.event-editor-section-container {


	section {
		margin-bottom:50px;

		.btn {
			width: 100%;
			margin-bottom: 6px;
		}
	}


	h4 {
		font-size: 12px;
		text-transform: uppercase;
		letter-spacing: 1px;
		font-weight: 700;
	}

	.editor-aside h4 {
		margin-bottom: 22px;
	}

	input {
		border:1px solid #dcdcdc;
	}

	.btn {
		border-radius:0;
		//background:$brand-primary;
	}

	li {
		border-bottom:1px solid #efefef;
		padding:30px 22px 30px 28px;
		cursor: pointer;



		&.active {
			background:rgba( #eff0f3, .5);
			color:#888;
			cursor: auto;
		}

		&:hover {
			background:rgba( #eff0f3, .5);
			//background:$brand-primary;
			//color:#fff;
		}

		&:after {
			content: "";
  			display: table;
  			clear: both;
		}
	}


	.event-activity-chart {
		width: 100%;
		height: 440px;
		margin: 60px 0 40px;


	}

	.event-activity-data {

		h1 {
			font-size: 52px;
			line-height: 62px;
			font-weight: 300;
			margin: 0;
		}

		p {
			margin: 0;
			color:#999;
		}

	}

	.event-activity-meter {

		line-height: 10px;
		font-size: 12px;
		margin-bottom: 10px;


		.event-activity-status {
			width: 82%;
			float: left;

			h5 {
				margin: 0;
				font-weight: 600;
				color:$brand-green;
			}

			p {
				margin:5px 0 10px 0;
				font-size: 12px;
				line-height: 16px;
				opacity: .5;
			}
		}

		span {
			display: block;
			width: 12px;
			height: 12px;
			border-radius:50%;
			float: left;
			margin-right: 10px;
			background:$brand-green;

		}

		&.event-activity-meter-false {
			span {
				background:$brand-yellow;

			}

			h5 {
				color:darken($brand-yellow,10%);
			}

		}


		&:after {
			content: "";
  			display: table;
  			clear: both;
		}
	
	}


	.editor-aside-nav {

		a.edit-aside-nav-add {
			padding:16px 22px;
			display: inline-block;
		}

		i {
			display: block;
			float: left;
			margin-right:10px;
			font-size: 20px;
		}

		.editor-aside-nav-desc {
			float:left;
			width: 80%;

			h3 {
				line-height: 20px;
				font-size:16px;
				font-weight: 600;
				text-decoration: none;
				margin: 0 0 0 0;
			}

			p {
				opacity: .5;
				margin-top: 2px;
			}
		}




	}


}



.design-editor-header {

	height:$nav_top_height;
	background:#222;
	width:300px;

	a {
		line-height: 60px;
		padding:0 20px;
		color:#efefef;
		font-size:11px;
		font-weight: 600;
		text-decoration: none;
	
		&#design-panel-close {
			display: inline-block;
			background:#111;
			border-left:1px solid rgba(0,0,0,.1);
			font-size:20px;
			float: right;

			i {
				//font-size:60px;
			}
		}

	}

}


.design-editor-section-container {
	position:fixed;
	top:0;
	left:-300px;
	width:300px;
	height:100%;
	background:#fff;
	z-index:99999;

	transition: left .2s ease-in-out;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.1);
    overflow: scroll;

    &.visible {
    	left:0;
    }

	.design-editor-body {
		padding:40px 20px;
	}

	section {
		margin-bottom: 40px;
	}

	.editor-current-bg {
	width:100%;
	height:140px;
	background-size:cover;
	cursor: pointer;
	margin-bottom: 20px;

		&:hover {
			opacity: .8;
		}
	}
}





