.event-nav-container {
	position: fixed;
	left:0;
	top:0;
	height:100%;
	background:#222;
	z-index:99999;

	.event-nav-logo {
		background:$brand-primary;
		display: block;
		width: 72px;
		text-align:center;
		height: 60px;

		svg {
			width: 50%;
			margin: 0 auto;
		}
	}

	.event-nav-bottom {
		position: absolute;
		bottom:10px;
		width: 100%;
	}

	.event-nav-link {
		color: #777;
		line-height: 38px;
		display: block;
		//background:#fff;
		padding:10px 0;
		text-align:center;
		transition: padding .2s ease-in-out;
		position:relative;
		min-width:66px;
		max-width: 72px;
		text-decoration: none;
		overflow: hidden;

		i {
			font-size: 20px;
			position: relative;
			top: 4px;
			line-height: 0;
		}


		&.active {
			color:$brand-primary;
		}
		

		span {
		    font-size: 9px;
		    font-weight: 600;
		    line-height: 0;
		    display: block;
		    text-align: center;
		}	


		&:hover {
			background:darken($brand-secondary, 2.5%) !important;
			color:#fff;
		}
	}
}



.event-editor-section-container {
	transition: left .3s ease-in-out;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;



    .event-editor-sections {
    	background: #fff;
    	height: 800px;
    	overflow: scroll;
    	box-shadow: 5px 5px 10px rgba(0,0,0,.1);
		width:1300px;


    	.editor-subnav {

    		float: left;
    		width: 400px;
			padding:60px 0 0 72px;

    		li {
    			border-bottom:1px solid #efefef;
    			padding:20px 0;

    			&.active {
    				background:rgba( #eff0f3, .5);
    			}
    		}

    	}

    	.editor-subpanel {
    		float: left;
    		width:900px;
    		padding:100px 100px 60px 100px;
    		position:relative;

    		//FIX THIS OVERRIDE

    		input {
    			border:1px solid #dcdcdc;
    		}

    	}

    	.editor-panel-main {
    		padding:80px 20px 40px 72px;
    		margin-right: 300px;
    	}

    	.editor-top-panel {
    		background:rgba( #eff0f3, .5);
    		padding:80px 20px 40px 72px;
    	}

    	.editor-bottom-panel {
    		padding:16px 20px 40px 112px;
    	}


    	.editor-subpanel-sm {
    		width: 300px;
    		float: right;
    		position:relative;
    		padding:100px 20px 30px 20px;
    	}

    	.editor-subpanel-sm-background {
    		position:absolute;
    		right:0;
    		width:300px;
    		height: 100%;
    		background:rgba( #eff0f3, .5);


    	}


    	.editor-subpanel-background {
    		position:absolute;
    		right:0;
    		width:900px;
    		height: 100%;
    		background:rgba( #eff0f3, .5);


    	}


    }


	.event-editor-header {

		height:60px;
		position:fixed;
		background:#222;
		width:1300px;
		z-index:99;
		padding:0 0 0 100px;

		a {
			line-height: 60px;
			padding:0 20px;
			color:#efefef;
			font-size:11px;
			font-weight: 600;
		
			&#editor-panel-close {
				display: inline-block;
				background:#111;
				border-left:1px solid rgba(0,0,0,.1);

				i {
					//font-size:60px;
				}
			}

		}

	}

}

