.event-editor-draft-container {
	display:none;
}


.event-show.show  .dashboard-header {
	position:fixed;
	top:0;
	left:0;
	box-shadow: 2px 2px 8px rgba(0,0,0,.4);

}

.event-status-notification-banner {
	background:$brand-secondary;
	color:#fff;
	font-size:11px;	
	text-align:center;
	position:fixed;
	top:0;
	left:0;
	width:100%;
	padding:8px;
	display:none;

	&.visible {
		display:block;
	}

}

.show-navigation-container .tabs {
	position:fixed;
	top:5px;
	left:0;
	z-index:999999;
}


body.invite-view {
	background:$brand-gray;
}

.event-show.show .tablet {
	margin:0 auto;
	margin-top:50px;
	width:500px;
	box-shadow:2px 2px 10px rgba(0,0,0,.2);
	height:auto;

	.tablet-content {
		height:520px;
		overflow:scroll;
		border:1px solid $brand-gray;
	}

}



.show-view.website-container {
	


}

.show-view.invite-container {
	
	display:none;

}



.events nav {
	
	width: auto;
	display: none;
}


.events-list {
	.event {
		clear:both;
		margin:44px 0;
		box-sizing:border-box;

		&.inactive {
			opacity: .3;
		}
		
		.image {
			width:200px;
			height:200px;
			float:left;
			margin-right:30px;
			background-size:cover;
			background-position: 50% 50%;
			display:block;
			
		}
		
		.title {
			font-size:30px;		
			font-weight:400;
		}
		
		.registrants {
			margin-top:20px;
			
		}
		
		.actions {
			margin-top:20px;
			
			a {
				font-size:12px;
				margin-right:10px;
				display:inline-block;
			}
			
		}
		
		
		
	}
	
	.event:after {
		content: "";
		display: table;
		clear: both;		
	}

}








//event editor


.editor-container {
	//display:none;
	transition: left .3s ease-in-out;
	position:fixed;
	top:0;
	left:-366px;
	//right:0;
	z-index: 99;
	box-shadow: 4px 4px 10px rgba(0,0,0,.1);

	.btn {
		width: 100%;
		text-align:center;
	}

	&.visible {
		left:66px;

		.tabs {
			//left:-62px;
			

		
		}

	}
}






.editor-tabs {
	position: fixed;
	left:0;
	top:0;
	width:74px;
	height:100%;
	background:#fff;
	z-index:99999;
	background: #1f262d;


	.editor-tools-bottom {
		position: absolute;
		bottom:10px;
		width: 100%;
	}

	a.tab {

		color: #777;
		line-height: 38px;
		display: block;
		//background:#fff;
		padding:10px 0;
		text-align:center;
		transition: padding .2s ease-in-out;
		position:relative;
		min-width:66px;
		max-width: 72px;
		overflow: hidden;

		.editor-tab-notification {
			position: absolute;
		    width: 10px;
		    height: 10px;
		    right: 12px;
		    bottom: 11px;
		    background: $brand-primary;
		    border-radius: 50%;

		    &.editor-tab-notification-error {
		    	background:$brand-red;
		    }
		}

		&#draft {
			margin-top:6px;
			background:darken($brand-primary,8%);
		}
		
		&#publish, &.publish {
			background:$brand-primary;
		}	

		&#done {
			background:$brand-primary;
			margin-top:6px;
		}			

		&#saving {
			background:transparent;
			visibility:hidden;
			opacity:0;
			transition:opacity .5s ease;

			&.visible {
				display:block;
				visibility:visible;
				opacity:1;	

			}
		}			



		i {
			font-size: 20px;
			position: relative;
			top: 4px;
			line-height: 0;
		}

		div {
			text-align: center;
		    font-size: 10px;
		    line-height: 9px;
			margin-bottom: 3px;
		}

		&.active {
			color:$brand-primary;
		}
		


		span {
		    font-size: 9px;
		    font-weight: 600;
		    line-height: 0;
		    display: block;
		    text-align: center;
		}	


		&:hover {
			background:darken($brand-secondary, 2.5%) !important;
			color:#fff;

			span {
				visibility: visible;
				left:78px;
				opacity: 1;
			}
		}


	}


}


.tabs {

	position: absolute;
	top:80px;
	left:0;
	transition: left .2s ease-in-out;

	&.visible {
		left:-80px;
	}


	&:after {
		
		content: "";
		display: table;
		clear: both;

	}

	a.tab {

		color: #fff;
		line-height: 38px;
		display: block;
		background:$brand-secondary;
		padding:10px 16px;
		text-align:center;
		transition: padding .2s ease-in-out;
		position:relative;
		min-width:66px;

		&#draft {
			margin-top:6px;
			background:darken($brand-primary,8%);
		}
		
		&#publish, &.publish {
			background:$brand-primary;
		}	

		&#done {
			background:$brand-primary;
			margin-top:6px;
		}			

		&#saving {
			background:transparent;
			visibility:hidden;
			opacity:0;
			transition:opacity .5s ease;

			&.visible {
				display:block;
				visibility:visible;
				opacity:1;	

			}
		}			



		i {
			font-size: 20px;
			position: relative;
			top: 4px;
		}

		div {
			text-align: center;
		    font-size: 10px;
		    line-height: 9px;
			margin-bottom: 3px;
		}

		&.active {
			color:$brand-primary;
		}
		

		&:hover {
			background:darken($brand-secondary, 2.5%) !important;
		}

		span {
			position:absolute;
			right:0;
			background:$brand-secondary;
			color:#fff;
			font-size:10px;
			padding:2px;
			display:none;

		}	


	}
}










.editor-tools	{

	background:#fff;
	//box-shadow: 12px 12px 50px rgba(0, 0, 0, 0.6);
	width:340px;
	color:#444;
	position:relative;
	height:800px;
	overflow:scroll;

	&::-webkit-scrollbar {
 		display: none;
	}

	.remodal-close {
		left:initial;
		right:0;
		z-index: 9;
	}

	.editor-tool {
		display:none;
		position:relative;
	}

	p {
		opacity:.5;
	}

	section {
		padding:10px 30px;
		margin:40px 0;
		//border-top:1px solid rgba(0,0,0,.1);

		&.editor-tool-header {
			border:none;
			padding-top:50px;
			margin-top:0;
		}

		a {
			//font-size:12px;
			//line-height:16px;
			//font-weight:600;
			//margin-right:10px;
		}
	}






	h4 {
    	text-transform: uppercase;
    	letter-spacing: 1px;
    	font-size: 10px;
    	margin:10px 0 30px;
    	color:#888;
	}


	a, form {
		//color:#fff;
		//width:100%;
		
		//display:block;
		//text-align:center;
		//padding-top:15px;
		//font-size:12px;
		
		&:hover {
			//background:$brand-primary;
		}
		
		
		i {
			//display:block;
			//font-size:40px;
			//line-height:40px;
		}
	}

	.editor-current-bg {
		width:100%;
		height:140px;
		background-size:cover;
		cursor: pointer;

		&:hover {
			opacity: .8;
		}
	}


	.fonts {
		a.font {
			width: 33.33333%;
		    float: left;
		    text-align: center;
		    display: block;
		    margin: 0;
		    height: 50px;
		    line-height: 50px;
		    color: #555;

		    &:hover {
		    	background:$brand-primary;
		    	color:#fff;
		    }
		}

		&:after {
			content: "";
			display: table;
			clear: both;
		}
	}

	.ticket-actions {
		a{
			height: auto;
			background: none;
			padding: 0;

			i {
				font-size: 20px;
			}
		}
	}

	#input-free-event-container {
		
		opacity: 1;
		line-height: 16px;

		label {
			cursor: pointer;
		}

		input {
			width: inherit;
			float:left;
			margin-right: 4px;
			cursor: pointer;
		}

	}


	.editor-upgrade {
		position:absolute;
		top:0;
		left:0;
		width:100%;
		height:110%;
		background:rgba(darken($brand-secondary,4%),.8);

		.editor-upgrade-content {
			position:relative;
			top:30%;
			text-align:center;
			color:#fff;
			width:80%;
			margin:0 auto;

			h3 {
				font-size:24px;
				line-height:40px;
			}
			p {
				opacity:.8;
				margin-bottom:30px;
			}

			.btn {
				background:$brand-green;
			}
		}
	}

}







.attendees {

	ul li {
		clear: both;
		margin-bottom: 16px;

		&:after {
			content: "";
			display: table;
			clear: both;

		}


		.attendee-details {
			padding-top:6px;

			a {
				color:#222;
			}

			.attendee-delete {
				color:$brand-primary;
				font-size: 10px;
			}
		}


		img {
			width:50px;
			height: auto;
			border-radius:50%;
			float:left;
			margin-right: 10px;

		}

	}


}





.toggle-container {
	width:100%;
	height:70px;
	background:#efefef;
	border-radius:50px;
	text-align:center;
	position:relative;
	font-size: 12px;
	line-height:70px;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-weight: 600;
    color:#999;
	cursor: pointer;
	box-shadow: inset 1px 1px 10px rgba(0,0,0,.2);
    -webkit-transition: all .5s ease;
	transition: all .5s ease;
	margin-bottom:30px;

	.toggle {
		width: 30%;
		height: 50px;
		top:10px;
		background:#999;
		border-radius:50px;
		position: absolute;
		left: 10px;
		-webkit-transition: all .5s ease;
		transition: all .5s ease;

	}


	&:hover {

		//background:$brand-primary;

		.toggle {
			left: 20px;
		}
	}


	&.toggle-on {
		background:$brand-primary;
		color:#fff;

		.toggle {
			//right:10px;
			left:183px;
			background:darken($brand-primary, 8%)
		}
	}



}


.toggle-status {
	font-size:13px;
	line-height:15px;
	margin-bottom:14px;

	span {
		width:14px;
		height: 14px;
		display: block;
		float:left;
		margin-right: 10px;
		background:#dedede;
		border-radius:50%;
	}
}






.editor-cover {
	position: absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	background:rgba(255,255,255,.5);
	display:none;
}







#custom-image {
	position: relative;

	form {
		top: 45px;
		position: absolute;
		width: 100%;
		left: 0;

		.progress {
			position: absolute;
			width: 70%;
			top: 0px;
			left: 46px;
			.bar {
				margin: 0 auto;
				height: 5px;
				background: $brand-primary;
			}
		}
	}
}

.header .dragOverlay {
	display: none;
}

.file-label {
	background: $brand-primary;
	padding: 10px 18px; 
	font-size: 8pt;
	cursor: pointer;
	border-radius: 16px;

	&:hover {
		background: lighten($brand-primary, 10%);
	}
}
#custom-file-input {
	opacity: 0;
}



.upload-container {
	position:absolute;
	width:100%;
	height:100%;
	top:0;
	left:0;

	.upload {
		width:100%;
		height:100%;
		margin:0 auto;
		border:2px dotted rgba(255,255,255,.4);
		top: 2.5%;
		position: relative;
		opacity:0;
		-webkit-transition: all .5s ease;
		transition: all .5s ease;
		background:none !important;
		visibility:hidden;

		&.visible {
			width:97%;
			height:95%;
			opacity:1;
			visibility:visible;
		}

	}
}



.slider-container {
	margin-top:30px;	
}

.slider {

	display:inline-block;

	#slider {
		
		width: 160px;
		background: rgba(0, 0, 0, 0.1);
		height: 5px;
		position: relative;

		span {

			width:14px;
			height:14px;
			border-radius:50%;
			background:$brand-primary;
			position:absolute;
			top:-5px;
			cursor:pointer;

		}


	}

}


.color-picker {
	display:inline-block;
	position:relative;
	margin-left:12px;

	#color {
		border: none;
		font-size: 11px;
		width: 89px;
		font-size: 12px;
		color: #888;
		padding: 14px 10px;
	}
}


.cp-color-picker {
	z-index:9999999;
}

.minicolors-swatch {
	border:none !important;
}


#custom_image_form {
	cursor: pointer;
	float: left;
	width: 25%;
	input {
		width: 25%;
		cursor: pointer;
		background: none;
		border: none;
		opacity: 0;
		position:absolute;
		top:60px;
		left:0;
		height: 100%;

	}	

}




.editor-tools .tickets {
	

	.ticket {
		background:#f7f7f7;
		width:100%;
		padding:20px;
		margin:10px 0;
		border-left:3px solid $brand-primary;
		position:relative;

		.ticket-actions {
			position:absolute;
			top:0;
			right:0;
			width:20px;
			opacity:0;

			.ticket-action {
				color:$brand-primary;
				width:20px;
				float:right;
			    font-size: 20px;
			    margin: 5px 10px;
			    cursor:pointer;
			    opacity:.6;

			    &:hover {
			    	opacity:1;
			    }


			}

		}



		&:hover {
			.ticket-actions {
				opacity:1;
			}

		}


	}
}


.remodal {
	.ticket {

		width:100%;
		background:$brand-gray;


		select {
			float:right;
		    border: 2px solid #ccc;
		    font-size: 16px;
		    height: 40px;
		    width: 70px;
		    background: #fff;
		    padding-bottom:100px;
		}

	}



}

