//form styles


form {

	width:100%;

}



.input-primary {
  -webkit-appearance: none;
  border-radius: 0;
}

input.input-primary[disabled] {
  opacity: .5;
}



input, .input, textarea {
	font-family: "Avenir",sans-serif;
	display:inline-block;
	background:#efefef;
	font-size:18px;
	line-height:26px;
	width:140px;
	padding:14px 8px;
	outline:none;
	border:1px solid #fff;
	
	&.input-large {
		width:100%;

	}
	
	&.invalid {
		border:1px solid red;

	}
}


.input-group {
	margin-bottom:20px;
	clear:both;
	position:relative;
	clear:both;
	
	&:after {
		content: "";
		display: table;
		clear: both;
	
	}
	
	.input-group-inline {
		float:left;
		position:relative;
		width:50%;
		
		&#cvv {
			margin-left:30px;
			
			input {
				width:100px;
			}
		}
	}


	p {
		margin-bottom:0;
	}
	

	label {
		font-weight:600;
		margin:0 0 20px;
		font-size:12px;
		color:#444;
		display:block;
		text-align:left;
		margin:0 0 2px 0;
		
		&.error {
		
		    color: #fff;
		    z-index: 99;
		    background:$error-purple;
		    padding:5px;
		    display:inline-block;
		    position:relative;
		    margin-top:5px;

		    &:after {
		    	bottom: 100%;
				left: 14%;
				border: solid transparent;
				content: " ";
				height: 0;
				width: 0;
				position: absolute;
				pointer-events: none;
				border-color: rgba(136, 183, 213, 0);
				border-bottom-color: $error-purple;
				border-width: 5px;
				margin-left: -5px;

		    }
		
		}
		
		
	}	



	&.input-group-dark {

  		label {
  			color:#fff;
  		}

  		input, textarea {
  			background:rgba(255,255,255,.1);
  			width:100%;
  			color:#fff;
  			border:1px solid rgba(255,255,255,.1);

  			&:focus {
       			border: 1px solid $brand-primary;
      		}

  		}



	}


}



input.date {
  //width: 140px;
}

input.time {
  //width: 100px;
}

input.date, input.time {
  //margin: 4px;
}
