//form styles


form {

	width:100%;

}



.input-primary {
  -webkit-appearance: none;
  border-radius: 0;
}

input.input-primary[disabled] {
  opacity: .5;
}

textarea {
	height: 250px;
	max-height: 250px;
}

select {
   -webkit-appearance: none;
   -moz-appearance: none;
   appearance: none;
}

input, .input, textarea, select {
	font-family: "Avenir",sans-serif;
	display:inline-block;
	//background:#efefef;
	font-size:16px;
	line-height:24px;
	width:100%;
	padding:12px 8px;
	outline:none;
	border:1px solid #fff;
	//border:none;
    //box-shadow: inset 1px 1px 4px rgba(0, 0, 0, 0.1);
    border: 1px solid #dcdcdc;	


    &.input-small {
    	font-size:13px;
    	line-height: 18px;
    	padding:10px 8px;
    }
	
	&.input-large {
		width:100%;

	}
	
	&.invalid {
		border:1px solid red;

	}

	&.textarea-small {
		height:100px;
	}
}

.form-header {

	margin-bottom: 40px;
	text-align: center;


}


.input-group {
	margin-bottom:20px;
	clear:both;
	position:relative;
	clear:both;
	
	&:after {
		content: "";
		display: table;
		clear: both;
	
	}

	&.input-group-addon, .input-group-addon {
		.input-addon {
			width:10%;
		    float: left;
		    text-align: center;
		    background: #efefef;
			font-size: 20px;
		    color: #b1b1b1;
		    line-height: 24px;
		    padding: 12px 8px;
		    border: 1px solid #dcdcdc;
		}

		input {
			width:90%;
			border-left:none;
		}
	}

	&.input-expand {
		margin:30px 0 30px !important;

		p { 
			font-size:16px;
		}
	}
	
	.input-group-inline {
		float:left;
		position:relative;
		width:50%;
		
	
	}


	p {
		margin-bottom:0;
		margin-top:5px;
		font-size:11px;
		line-height:14px;
		opacity:.7;
	}
	

	label {
		font-weight:600;
		margin:0 0 20px;
		font-size:12px;
		color:#444;
		display:block;
		text-align:left;
		margin:0 0 2px 0;
		
		&.error {
		
		    color: #fff;
		    z-index: 99;
		    //background:$error-purple;
		    padding:5px;
		    display:inline-block;
		    position:relative;
		    margin-top:5px;
			color: #555;
    		background: #f1f0f0;


		    &:after {
		    	bottom: 100%;
				left: 14%;
				border: solid transparent;
				content: " ";
				height: 0;
				width: 0;
				position: absolute;
				pointer-events: none;
				border-color: rgba(136, 183, 213, 0);
				border-bottom-color: #f1f0f0;
				border-width: 5px;
				margin-left: -5px;

		    }
		
		}
		
		
	}	



	&.input-group-dark {

  		label {
  			color:#fff;
  		}

  		input, textarea {
  			background:rgba(255,255,255,.1);
  			width:100%;
  			color:#fff;
  			border:1px solid rgba(255,255,255,.1);

  			&:focus {
       			border: 1px solid $brand-primary;
      		}

  		}



	}


}



input.date {
  //width: 140px;
}

input.time {
  //width: 100px;
}

input.date, input.time {
  //margin: 4px;
}
