//modal styles


$brand-primary: #21afbf;


.remodal {
	text-align:left;
	max-width:500px !important;
	
	h2 {
		text-align:left;

	}
	
	textarea {
		width:100%;
		
	}

}

.remodal-wrapper {
	display: none;
}

.remodal-overlay {
	
	background:rgba(26, 26, 26, 0.82);
}


.remodal {
	//display: none;
	padding:0 !important;
	text-align:center;
	
	.remodal-close {
		color:$brand-secondary;

	}

	.modal-header {
		background:$brand-primary;
		color:#fff;
		padding:30px 50px;

		.btn {
			border:1px solid;
			margin-top:20px;

		}

		.inline-link {
			display:block;
			color:#fff;
			margin-top:10px;
		}

		p {
			opacity:.6;
		}
		
		&.modal-header-light {
			background: #fff;
			color: #444;
			padding: 30px 20px 20px 20px;
			border-bottom: 1px solid #ccc;
			margin: 0 30px;
		
		
		}
		

		i {
			font-size:60px;
			line-height:60px;

		}
		
		h2 {
			text-align:center;
			font-weight:400;
			font-size:26px;
			line-height: 40px;
			margin-bottom:4px;

		}

		p a {
			color:#fff;
			text-decoration:underline;

		}
		
	}	
	
	
	
	
	
	.modal-body {
		padding:30px;	
		text-align:left;
		width:500px;
		
		.owl-item {
			width:100%;
			min-height:360px;

		}
		
		.price {
			font-weight:400;
			margin:0 0 20px;
			font-size:12px;
			color:#444;

		}
		
		form {
			width:100%;
			max-width:inherit;
			position:relative;
			
			
			.be-validation {
				display:none;
				position:absolute;
				width:100%;
				background:red;
				color:#fff;
				padding:10px;
				bottom:0;
				z-index:999999;
				font-size:12px;
				text-align:center;
				-webkit-animation: anim-jelly 0.8s linear forwards;
				animation: anim-jelly 0.8s linear forwards;

			}

		}
		

		
		.plan-container {
			
			width:50%;
			display:inline-block;
			float:left;
			text-align:center;
			color:#222;


			.plan {
				
				background:#efefef;
				margin:5px;
				padding:5px;

				
				h2 {
					text-align:center;
					font-weight:400;
					font-size:26px;
					margin-bottom:4px;
					
				}

				ul.features {
					font-size:13px;
					color:#444;
					min-height:120px;

					li {
						margin:5px 0;
						
					}
					
					
				}


				
			}




			&:after {
				content: "";
				display: table;
				clear: both;
			}
		}
		
		
		
		
		
		.input-group {
			margin-bottom:20px;
			clear:both;
			position:relative;
			clear:both;
			
						
			
			&.input-group-centered {
				text-align:center;

			}
			
			&#success {

				p {
					text-align:center;
					font-size:16px;
					line-height:28px;
					color:#444;
				}

			}
			
			label {
				font-weight:400;
				margin:0 0 20px;
				font-size:12px;
				color:#444;
				display:block;
				margin:0 0 2px 0;
				
				&.error {
					bottom:0;
					color:#fff;
					top:inherit;
					border-right: 1px solid #fff;
					//display:none !important;


				}

			}
			

			#lock {
				position: absolute;
				top: 29px;
				right: 8px;
				font-size: 22px;
				color: #999;

			}

		}
		
		
		input.btn-primary {
			background: $brand-primary;
			&:hover {
				background: lighten($brand-primary, 10%);

			}
		}


	}
	
	form {
		width: 100%;
	}


	.link-list {

		margin:12px 0 16px 0;

		a {
			margin:5px;
			display:inline-block;

		}
	}


	.link-list-small a {
		font-size:12px;
		margin:2px;
		display:inline-block;

	}

}


//exceptions

#event-creation-modal .modal-body {
	text-align:center;

}

.remodal#email-invite-modal, .remodal#image-search-modal {
	max-width:800px !important;

	.modal-body {

		width:100%;

		.btn {
			//display: none;
		}

		.search-btn {
			position: absolute;
		    top: 13px;
		    right: 10px;
		    font-size: 28px;
		    display:block;
		}

	}



}
	.send-invite {
		display: none;
	}

.image-results li {
	margin: 10px;
	vertical-align: middle;
}


