//modal styles


$brand-primary: #21afbf;


.remodal {
	text-align:left;
	max-width:400px !important;
	
	h2 {
		text-align:left;

	}
	
	textarea {
		width:100%;
		
	}

}

.remodal-wrapper {
	display: none;
	z-index: 9999999999999999;
}

.remodal-overlay {
	
	background:rgba(26, 26, 26, 0.82);
	    z-index: 99999;
}


.remodal {
	//display: none;
	padding:0 !important;
	text-align:center;
	
	.remodal-close {
		color:$brand-secondary;

	}


	.modal-secure {
		position:absolute;
		top:10px;
		right:10px;
		color:#ccc;

		i {
			font-size: 22px;
		}

	}

	.modal-header {
		background:$brand-primary;
		color:#fff;
		padding:30px 50px;

		.btn {
			border:1px solid;
			margin-top:20px;

		}

		.inline-link {
			display:block;
			color:#fff;
			margin-top:10px;
		}

		&.modal-header-light {
			background: #fff;
			color: #333;
			padding: 30px 20px 10px 20px;
			//border-bottom: 1px solid #ccc;
			border:none;
			margin: 0 30px;
		
		
		}
		

		i {
			font-size:60px;
			line-height:60px;

		}

		p a {
			color:#fff;
			text-decoration:underline;

		}
		
	}	
	
	
	
	.payment-modal-footer {
		font-size: 10px;
		font-weight: 600;

		a {
			text-decoration: underline;
		}
	}
	
	.modal-body {
		padding:20px 30px;	
		text-align:left;
		//width:500px;
		
		.owl-item {
			width:100%;
			min-height:360px;

		}


		.btn {
			width: 100%;
		}
		
		.price {
			font-weight:400;
			margin:0 0 20px;
			font-size:12px;
			color:#444;

		}
		
		form {
			width:100%;
			max-width:inherit;
			position:relative;
			
			
			.be-validation {
				display:none;
				position:absolute;
				width:100%;
				background:red;
				color:#fff;
				padding:10px;
				bottom:0;
				z-index:999999;
				font-size:12px;
				text-align:center;
				-webkit-animation: anim-jelly 0.8s linear forwards;
				animation: anim-jelly 0.8s linear forwards;

			}

		}
		


		
		
		
		
		
		.input-group {
			
						
			
			&.input-group-centered {
				text-align:center;

			}
			
			&#success {

				p {
					text-align:center;
					font-size:16px;
					line-height:28px;
					color:#444;
				}

			}
			
			label {
				
				
				&.error {
					bottom:0;
					//color:#fff;
					top:inherit;
					//border-right: 1px solid #fff;
					//display:none !important;


				}

			}
			

			#lock {
				position: absolute;
				top: 29px;
				right: 8px;
				font-size: 22px;
				color: #999;

			}

		}
		
		
		input.btn-primary {
			background: $brand-primary;
			&:hover {
				background: lighten($brand-primary, 10%);

			}
		}


	}
	
	form {
		width: 100%;
	}


	.link-list {

		margin:12px 0 16px 0;

		a {
			margin:5px;
			display:inline-block;

		}
	}


	.link-list-small a {
		font-size:12px;
		margin:2px;
		display:inline-block;

	}

}


//exceptions

#event-creation-modal .modal-body {
	text-align:center;

}

.remodal#email-invite-modal, .remodal#image-search-modal {
	max-width:800px !important;

	.modal-body {

		width:100%;

		.btn {
			//display: none;
		}

		.search-btn {
			position: absolute;
		    top: 13px;
		    right: 10px;
		    font-size: 28px;
		    display:block;
		}

	}



}
	.send-invite {
		display: none;
	}

.image-results li {
	margin: 10px;
	vertical-align: middle;
}


