.ec-notification {
	position:fixed;
	bottom:-500px;
	right:20px;
	background:$brand-gray;
	color:#000;
	opacity:0;
	z-index: 99999999;
	transition: all 1s ease-in-out;
	width:300px;
	max-height: 400px;
    overflow: hidden;

	img {
		width:100%;
	}

	.ec-notification-content {
		padding:40px 20px 20px 20px;
		text-align:center;
	}


	&.visible {
		bottom:0;
		opacity:1;

	}
}