
.full-page-loader {
	color:#fff;
	position:fixed;
	top:0;
	left:0;
	width:100%;
	height:100%;
	background:rgba($brand-primary,.94);
	text-align:center;
	padding:100px 20px;
	opacity:0;
	-webkit-transition: all .5s;
    transition: all .5s;
    visibility:hidden;
    z-index: 9999999999;

    &.saving {
    	//background:rgba($brand-secondary,.94);
    }

	i {
		font-size:30px;
	}

	&.visible {
		visibility:visible;
		opacity:1;
	} 

	h1,h2,h3,h4 {
		margin-top:20px;
	}
}
