//variables

$brand-primary: #21afbf;
$error-red: rgba(213, 55, 37, 0.9);
$error-purple: #a91d61;
$brand-secondary: #262B31;
$brand-orange: #f29b30;
$brand-green: #21bf80;


$brand-gray: lighten($brand-secondary, 76%);
$brand-dark-gray: lighten($brand-secondary, 50%);


$default-font-size: 13px;