
<div class="container event-registration">
    
<!-- <h1>Editing event</h1> -->
<div class="percent"><span></span></div>

<ul class="side-nav">
  <li><a class="active" href="#"></a></li>
  <li><a href="#"></a></li>
  <li><a href="#"></a></li>
  <li><a href="#"></a></li>
  <li><a href="#"></a></li>
  <li><a href="#"></a></li>
</ul>

<%= render 'form' %>

<%= link_to 'Show', @event %> |
<%= link_to 'Back', events_path %>

</div>




