
<div class="container event-registration">
<!-- <h1>New event</h1> -->

<div class="percent"><span></span></div>

<ul class="side-nav">
  <li><a class="active" href="#" data-tooltip="Event Theme" ></a></li>
  <li><a href="#" data-tooltip="Event Name" ></a></li>
  <li><a href="#" data-tooltip="Event Time" ></a></li>
  <li><a href="#" data-tooltip="Event Location" ></a></li>
  <li><a href="#" data-tooltip="Event Details" ></a></li>
</ul>


<%= render 'form' %>

<!-- <%= link_to 'Back', events_path() %> -->
</div>
