
<div class="container event-registration">
<!-- <h1>New event</h1> -->

<div class="percent"><span></span></div>

<ul class="side-nav">
  <li><a class="active" href="#"></a></li>
  <li><a href="#"></a></li>
  <li><a href="#"></a></li>
  <li><a href="#"></a></li>
  <li><a href="#"></a></li>
  <li><a href="#"></a></li>
</ul>

<!-- <div class="event-preview">



<div class="overlay"></div>

<div class="event-bg" ></div>
<div class="event-preview-info">
 <h1> NAME</h1>

<p class="lead">
  TIME | LOCATION</p>

</div>



</div> -->

<%= render 'form' %>

<!-- <%= link_to 'Back', events_path %> -->
</div>
