<% title "About Us" %>
<% meta_description 'EventCreate is the easiest way to create a custom event website. Collect registrations, sell tickets, send invites, and manage your attendees — all in one place.' %>



<div class="hero hero-simple" >
 	<div class="hero-content">
		<h1> we're like you </h1>
	</div>
</div>	



<div class="container container-small" id="introduction-note"> 
	<p>We’re like you. We’ve planned hundreds of events. We’ve tested dozens of registration platforms. We’ve paid thousands of dollars in service fees. </p> 
	<p>In late 2015, we decided to change that. So we teamed up with some friends to build a new platform with one goal: a simple event registration tool with zero fees. No service fees, no monthly fees, no ticketing fees. Free. </p>
	<p>Three months later, we’re excited (like, really excited) to announce that we’re finished with our beta product. We can’t wait to hear what you think. </p>
	<div class="signatures">
		<div class="signature">
			<div class="signature-img"><img src="/assets/home/signature_mark.png"></div> Mark Bushy<br> Co-Founder 
		</div>
		<div class="signature">
			<div class="signature-img"><img src="/assets/home/signature_rich.png"></div> Rich Saethang<br> Co-Founder</div>
		<div class="signature">
			<div class="signature-img"><img src="/assets/home/signature_rich.png"></div> Phi Vo<br> Co-Founder</div>
	</div>
</div>


<div id="about-body">
	<div class="container">
		<ul class="left"> 
			<li><h4>Founded</h4><p> 2016</p> </li>
			<li><h4>Employees</h4><p> 3</p> </li>
			<li><h4>Fees collected</h4><p>$0.00</p> </li>
			<li><h4>Songs on our 80s mix</h4><p>1,200</p> </li>
		</ul>
		<div class="right">
			<p> EventCreate is redefining the event ticketing space by offering 100%-free event ticketing, making it possible for event planners and guests to enjoy their events offline without paying unnecessary fees online. EventCreate provides a host of easy-to-use event tools, allowing anyone to seamlessly create custom event websites, sell tickets and send invitations.<p> 
			<p>EventCreate was founded in 2016 by three friends who don’t believe there is anything “convenient" about a “convenience charge.”</p>
			<p> Etiam viverra libero vitae tortor rhoncus faucibus. Praesent at ante sit amet velit molestie eleifend in at mauris. Quisque eleifend orci nec mauris suscipit, quis sodales ipsum condimentum. Cras luctus tristique interdum. Nulla pharetra odio et dictum sollicitudin. Ut semper sit amet velit et eleifend. In turpis nunc, consequat vel libero vel, malesuada pretium nisl. Phasellus cursus laoreet eros, finibus ultricies odio viverra et. Aenean eu tempus lacus. Aliquam neque magna, ultrices ut placerat id, convallis et ex. Nunc blandit euismod nisi, cursus suscipit velit feugiat eget. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Quisque at est quis massa pharetra rhoncus in sed nunc.</p>
			<p>For any questions or press inquires, please contact us at hello@eventcreate.com. We'd love to hear from you. </p>
		</div>
	</div>
</div>


<div class="container" id="home-cta">
	<h2> Let's make better events together. </h2>
	<a class="btn btn-large" type="submit">Sign up for free</a>
</div>


<%= render 'pages/partials/footer' %> 	
