<div class="container simple" >


<h1>
	Create stunning events in seconds
</h1>
<p>
	EventCreate is the elegant, fast and free solution to all your event planning needs. In the time it takes you to create an event via Google Calendar or Facebook, you could have a stunning event page and beautiful invites sent to all your guests. 
</p>
<p>
	Whether you’re planning a meetup for hundreds of people or just a quiet dinner with a few close friends, EventCreate’s beautiful design and seamless invite system will distinguish your events from the rest. EventCreate takes the technology out of event planning websites so you can focus on creating unique experiences your guests will love.
</p>

<p>
	No matter your number, turn gatherings into lasting memories.	
</p>



</div>