<div class="hero" id="contact">
	<div class="hero-cover"></div>
	<div class="hero-content">
		<h1> Say hello  </h1>
		<p>Have a question about EventCreate, or just want to say "hi"? <br>Feel free to reach out. </p>	 
	</div>	
</div>	


<div class="page-content">

	<div class="col-50 col">
	    <h2> Support </h2>
	    <p> If you have any questions, we're just an email or chat away:  </p>
	    <p> <a href="mailto:support@eventcreate.com">support@eventcreate.com</a> </p>
    </div>
    
    <div class="col-50 col">
	    <h2> General inquries </h2>
	    <p> For general inquires, partnership opportunities, or media inquiries, feel free to reach out to:  </p>
	    <p> <a href="mailto:hello@eventcreate.com">hello@eventcreate.com</a> </p>
    </div>
    
</div>    


<%= render 'pages/partials/footer' %>