<% title "EventCreate | Customization Services " %>
<% meta_description 'EventCreate offers a range of services from design to custom ticketing software.' %>



<div class="container">

	<div class="row">
		<div class="col-md-12 text-center home-primary">
			<h1>Customization services </h1>
			<p>EventCreate offers a range of services from design to custom ticketing software. We have more than 30 years of  event planning and software development experience, and we're here to help.  </p>
			<div id="customization-graphic">
				<img src="/assets/home/customization.jpg" class="img-responsive" />	
			</div>			
		</div>
	</div>




	<div class="row">
		<div class="col-md-12">

			<p>EventCreate continually pushes the creative envelope to design strikingly beautiful event websites and cutting-edge event ticketing software--delivering one-of-kind digital experiences to event attendees and simplifying processes for event organizers. We approach each project with four key objectives:</p>

			<p><b>1. Customizing design:</b> No one event is the same, which is why our software is fully-customizable and built bespoke for each event and event planner.</p>

			<p><b>2. Focusing on brand: </b>Our products are 100% white-labelled--we feature your brand, not ours. Our software is also fully-integrated (which is a fancy way of saying your attendees don’t leave your event website to register or buy tickets).</p>

			<p><b>3. Maximizing revenue:</b> Our ticketing software is built in close collaboration with designers and e-commerce veterans, who ensure your website is “conversion-rate optimized” to maximize your revenue potential and sell out your event.</p>

			<p><b>4. Ensure security and scalability: </b>Our software ranks among the most secure in the industry, and is built from the ground up to be stable and scalable. We use the same cloud services as Amazon.com to ensure infinite scalability, so your event can handle 10 registrations or 10 million.</p>


		</div>
	</div>



	<div class="row">

	<div class="col-md-12 customization-form">

	<h2> Get a Free Estimate </h2>
	<p class="lead">We'd love to hear what you're looking for. Feel free to reach out! </p>

		<form accept-charset="UTF-8" action=
		"https://eventdiscover.wufoo.com/forms/z23b62l1mnsdg0/#public" autocomplete=
		"off" class="wufoo topLabel page" enctype="multipart/form-data" id="form10"
		method="post" name="form10" >

		    <ul>
		        <div class="input-group" id="foli5">
		            <label class="desc" for="Field5" id="title5">Name</label>
		                <input class="field text medium" id="Field5" maxlength="255" placeholder="Your Name"
		                name="Field5" required onkeyup="" tabindex="1" type="text" value="">
		        </div>
		        <div class="input-group" id="foli7">
		            <label class="desc" for="Field7" id="title7">Email</label>
		                <input class="field text medium" id="Field7" maxlength="255"  placeholder="Your Email Address"
		                name="Field7" required spellcheck="false" tabindex="2" type="email"
		                value="">
		        </div>
		        <div class="input-group" id="foli12">
		            <label class="desc" for="Field12" id="title12">When is your
		            event?</label>
		                <input class="field text medium" id="Field12" maxlength="255"  placeholder="ie October 10th, or TBD"
		                name="Field12" onkeyup="" tabindex="3" type="text" value="">
		        </div>
		        <div class="input-group" id="foli10">
		            <label class="desc notranslate" for="Field10" id="title10">Size of
		            your event</label>
		                <select class="field select medium" id="Field10" name="Field10"
		                tabindex="4">
		                    <option selected="selected" value="">Select event size
		                        </option>
		                    <option value="Less than 100 people">
		                        Less than 100 people
		                    </option>
		                    <option value="Between 100 and 500 people">
		                        Between 100 and 500 people
		                    </option>
		                    <option value="Between 500 and 1000 people">
		                        Between 500 and 1000 people
		                    </option>
		                    <option value="More than 1000 people">
		                        More than 1000 people
		                    </option>
		                </select>
		        </div>
		        <div class="input-group" id="foli8">
		            <label class="desc" for="Field8" id="title8">Please tell us what
		            you're looking for.</label>
		                <textarea class="field textarea medium" cols="50" id="Field8" placeholder="Are you looking for custom design? Or do you need a custom ticketing solution? We're happy to help!"
		                name="Field8" onkeyup="" rows="10" spellcheck="true" tabindex=
		                "5"></textarea>
		        </div>
		        <div class="input-group">
		                <input class="btTxt submit btn btn-large" id="saveForm" name="saveForm" type=
		                "submit" value="Get my free estimate">
		        </li>
		        <li class="hide"><label for="comment">Do Not Fill This Out</label> 
		        <textarea cols="1" id="comment" name="comment" rows="1"></textarea>
		        <input id="idstamp" name="idstamp" type="hidden" value=
		        "LM2m42g2AQFDGfMtZANu7+UDiv4AgccxEA6RdtfpzrQ="></li>
		    </ul>
		</form>


	</div>


	</div>


</div>


    





<%= render 'pages/partials/footer' %>

