<div class="hero" id="product-features">


 	<div class="hero-content">
		<h1> featured-packed </h1>
		<p>Fusce nec lacus lorem. Nulla et aliquam tortor, id sodales nibh. Praesent dignissim nec diam a accumsan. Etiam feugiat dui id tortor aliquam sollicitudin. </p>	 	
	</div>



	<div class="screens">
	 	<div class="screen"> 
	 		<div class="screen-nav">
	 			<div class="button"></div>
	 			<div class="button"></div>
	 			<div class="button"></div>
	 		</div>
	 		<img src="/assets/home/sample.jpg" />	
	 	</div>	

 	</div>


</div>




<div class="product-feature-container">

	<div class="product-feature product-feature-left">
		<h2> featured-packed </h2>
		<p>Fusce nec lacus lorem. Nulla et aliquam tortor, id sodales nibh. Praesent dignissim nec diam a accumsan. Etiam feugiat dui id tortor aliquam sollicitudin. </p>	
		<p>Fusce nec lacus lorem. Nulla et aliquam tortor, id sodales nibh. Praesent dignissim nec diam a accumsan. Etiam feugiat dui id tortor aliquam sollicitudin. </p>	

	</div>

	<div class="product-feature product-feature-right">
		
	 	<div class="phone"> 
	 		<div class="details">
	 			<div class="camera"></div>
	 			<div class="speaker"></div>
	 		</div>
			<img src="/assets/home/sample_mobile.jpg" />	
	 	</div>

	 	<div class="tablet">
			<div class="details">
				<div class="camera"></div>
				<div class="speaker"></div>
			</div>
			<img src="/assets/home/sample_mobile.jpg" />	
		</div>


	</div>

</div>




<div class="product-feature-container">

	<div class="product-feature product-feature-left">
		
	 	<div class="tablet tablet-horizontal">
			<div class="details">
				<div class="camera"></div>
				<div class="speaker"></div>
			</div>
			<img src="/assets/home/sample_mobile.jpg" />	
		</div>



	</div>

	<div class="product-feature product-feature-right">
		<h2> featured-packed </h2>
		<p>Fusce nec lacus lorem. Nulla et aliquam tortor, id sodales nibh. Praesent dignissim nec diam a accumsan. Etiam feugiat dui id tortor aliquam sollicitudin. </p>	
		<p>Fusce nec lacus lorem. Nulla et aliquam tortor, id sodales nibh. Praesent dignissim nec diam a accumsan. Etiam feugiat dui id tortor aliquam sollicitudin. </p>			
	</div>

</div>




<div class="product-feature-container">

	<div class="product-feature">
		<h2> featured-packed </g2>
		<p>Fusce nec lacus lorem. Nulla et aliquam tortor, id sodales nibh. Praesent dignissim nec diam a accumsan. Etiam feugiat dui id tortor aliquam sollicitudin. </p>	

	</div>

	<div class="product-feature">
		<h2> featured-packed </h2>
		<p>Fusce nec lacus lorem. Nulla et aliquam tortor, id sodales nibh. Praesent dignissim nec diam a accumsan. Etiam feugiat dui id tortor aliquam sollicitudin. </p>	
	</div>

	<div class="product-feature">
		<h2> featured-packed </h2>
		<p>Fusce nec lacus lorem. Nulla et aliquam tortor, id sodales nibh. Praesent dignissim nec diam a accumsan. Etiam feugiat dui id tortor aliquam sollicitudin. </p>	
	</div>

</div>


 	  
 	 
 	 <div class="footer"> <a href="/"> Features </a> | <a href="/pricing"> Pricing </a> | <a href="http://blog.eventcreate.com/">Blog</a> |  <a href="/terms">Terms and Conditions</a> &copy; EventCreate 2015. </div>
 	 	
