

<div class="hero" id="features">
	<div class="hero-cover"></div>
 	<div class="hero-content">
		<h1>Make your event a success </h1>
		<p>Fusce nec lacus lorem. Nulla et aliquam tortor, id sodales nibh.<br> Praesent dignissim nec diam a accumsan. Etiam feugiat dui id tortor aliquam sollicitudin. </p>	
		<a class="btn btn-large" type="submit">Try for free</a>
	</div>
</div>





<div class="container">
	<div class="product-feature-container">
		<div class="product-feature">
			<i class="icon icon-line-email"> </i>
			<h2> featured-packed </h2>
			<p>Fusce nec lacus lorem. Nulla et aliquam tortor, id sodales nibh. Praesent dignissim nec diam a accumsan. Etiam feugiat dui id tortor aliquam sollicitudin. </p>	
		</div>

		<div class="product-feature">
			<i class="icon icon-line-email"> </i>
			<h2> featured-packed </h2>
			<p>Fusce nec lacus lorem. Nulla et aliquam tortor, id sodales nibh. Praesent dignissim nec diam a accumsan. Etiam feugiat dui id tortor aliquam sollicitudin. </p>	
		</div>

		<div class="product-feature">
			<i class="icon icon-line-email"> </i>
			<h2> featured-packed </h2>
			<p>Fusce nec lacus lorem. Nulla et aliquam tortor, id sodales nibh. Praesent dignissim nec diam a accumsan. Etiam feugiat dui id tortor aliquam sollicitudin. </p>	
		</div>



		<div class="product-feature">
			<i class="icon icon-line-email"> </i>
			<h2> featured-packed </h2>
			<p>Fusce nec lacus lorem. Nulla et aliquam tortor, id sodales nibh. Praesent dignissim nec diam a accumsan. Etiam feugiat dui id tortor aliquam sollicitudin. </p>	

		</div>

		<div class="product-feature">
			<i class="icon icon-line-email"> </i>
			<h2> featured-packed </h2>
			<p>Fusce nec lacus lorem. Nulla et aliquam tortor, id sodales nibh. Praesent dignissim nec diam a accumsan. Etiam feugiat dui id tortor aliquam sollicitudin. </p>	
		</div>

		<div class="product-feature">
			<i class="icon icon-line-email"> </i>
			<h2> featured-packed </h2>
			<p>Fusce nec lacus lorem. Nulla et aliquam tortor, id sodales nibh. Praesent dignissim nec diam a accumsan. Etiam feugiat dui id tortor aliquam sollicitudin. </p>	
		</div>	


		<div class="product-feature">
			<i class="icon icon-line-email"> </i>
			<h2> featured-packed </h2>
			<p>Fusce nec lacus lorem. Nulla et aliquam tortor, id sodales nibh. Praesent dignissim nec diam a accumsan. Etiam feugiat dui id tortor aliquam sollicitudin. </p>	

		</div>

		<div class="product-feature">
			<i class="icon icon-line-email"> </i>
			<h2> featured-packed </h2>
			<p>Fusce nec lacus lorem. Nulla et aliquam tortor, id sodales nibh. Praesent dignissim nec diam a accumsan. Etiam feugiat dui id tortor aliquam sollicitudin. </p>	
		</div>



	</div>

</div>





<div id="feature-partners">
	<img src="/assets/home/partners.png" />
</div>



 	 
<%= render 'pages/partials/footer' %> 	 	
