
<% title "EventCreate | Features List" %>
<% meta_description ' An all-in-one platform for event management, EventCreate provides a host of easy-to-use event tools, allowing anyone to seamlessly create custom event websites, send invites, sell tickets and manage attendees.' %>




<div class="container text-center">


	<div class="row">
		<div class="col-md-12 text-center home-primary">
			<h1>Everything is at your fingertips. </h1>
			<p>EventCreate provides a host of easy-to-use event tools, allowing anyone to seamlessly create custom event websites, send invites, sell tickets and manage attendees. </p>
		</div>
	</div>





	<div class="row features-list">
		<div class="col-md-4">
			<i class="icon icon-line-build"> </i>
			<h2> Easy-to use-builder </h2>
			<p> EventCreate was built from the ground up to be simple and easy to use. Create a beautiful event website and start selling tickets in minutes.  </p>	
		</div>
		<div class="col-md-4">
			<i class="icon icon-line-mobile-friendly"> </i>
			<h2> Mobile-friendly  </h2>
			<p>Don't sacrifice design for usability. Event websites are 100% mobile and tablet friendly, so your guests can register on any device. </p>	
		</div>
		<div class="col-md-4">
			<i class="icon icon-line-flag"> </i>
			<h2> White-labelled </h2>
			<p>Feature your brand. Not ours. Fully "white-label" your event by uploading a custom logo and using a custom domain.</p>
		</div>
	</div>



	<div class="row features-list">
		<div class="col-md-4">
			<i class="icon icon-line-share "> </i>
			<h2> Powerful social sharing </h2>
			<p> Sharing is built-in: easily post on social networks and track your social reach.  </p>	
		</div>
		<div class="col-md-4">
			<i class="icon icon-line-ticket"> </i>
			<h2> Sell tickets</h2>
			<p>Easily sell tickets and collect registrations to your event. And don't worry: unlimited tickets and ticket types are included. </p>	
		</div>
		<div class="col-md-4">
			<i class="icon icon-line-credit-card"> </i>
			<h2> Accept credit cards </h2>
			<p>Quickly connect with Stripe payments to accept payments via Visa, Mastercard or American Express credit cards. You'll have access to your funds immediately. </p>	
		</div>
	</div>



	<div class="row features-list ">
		<div class="col-md-4">
			<i class="icon icon-line-email"> </i>
			<h2> Send email invites </h2>
			<p>Spread the word about your event. Automatically send email invitations to your guests, customized to match the design of your website. </p>	
		</div>
		<div class="col-md-4">
			<i class="icon icon-line-chart"> </i>
			<h2> Guest analytics</h2>
			<p> With your powerful event dashboard, it's easy to track and analayze your event actvity. See how money you've made, see who's coming, and see who isn't. </p>	
		</div>
		<div class="col-md-4">
			<i class="icon icon-line-lock"> </i>
			<h2> Powerful and secure </h2>
			<p>EventCreate is built on enterprise-level software and backed up by 256-bit encryption, so your attendee details are always 100% secure.</p>	
		</div>
	</div>



</div>








<div id="home-cta">
	<div class="container text-center">
		<h2> Create your stunning event website now </h2>
		<p class="lead">Get started in less than 30 seconds. It's easy and free.</p>
		<%= link_to 'Get started for free', new_user_registration_path, :class => 'btn btn-large'  %>
	</div>
</div>
	

 	 
<%= render 'pages/partials/footer' %> 	 


