<div id="feature-example">

	<div class="feature-screens-copy-container container">
		<h1> Elegantly simple. Beautifully powerful.</h1>
		<p>Create a stunning, custom-branded event website <br>backed by enterprise-level event management software.  </p>	
	</div>
	<div class="feature-example-cover"> </div>

 	<div class="screens-container " >
	 	<div class="screen-large"> 
	 		<div class="screen-nav">
	 			<div class="button"></div>
	 			<div class="button"></div>
	 			<div class="button"></div>
	 			<div class="url"><i class="icon icon-lock"> </i> www.yourevent.com </div>
	 		</div>
	 		<img src="/assets/home/sample17.jpg" />	
	 	</div>


		<div class="dot-container" id="domain">
			<div class="dot">
				<div class="dot-pulse"></div>
				<div class="dot-popover">
					<h3>Custom domain </h3>
					<p>Add a custom domain/URL to make it easier for attendees to find your website, and to give your event a professional edge.</p>
				</div>
			</div>
		</div>
		<div class="dot-container" id="secure">
			<div class="dot">
				<div class="dot-pulse"></div>
				<div class="dot-popover">
					<h3>Safe and secure </h3>
					<p> EventCreate is built on enterprise-level software and backed up by 256-bit encryption, so your attendee details are always 100% secure. </p>
				</div>
			</div>
		</div>
		<div class="dot-container" id="ticketing">
			<div class="dot">
				<div class="dot-pulse"></div>
				<div class="dot-popover">
					<h3>Sell tickets </h3>
					<p> EventCreate makes it easy to sell tickets to your event and collect registration details. Easily collect payments via Visa, Mastercard or American Express credit cards.</p>
				</div>
			</div>
		</div>
		<div class="dot-container" id="logo">
			<div class="dot">
				<div class="dot-pulse"></div>
				<div class="dot-popover">
					<h3>Custom Logo </h3>
					<p> Feature your brand. No ours. EventCreate makes it easy to create a white-labelled event website.</p>
				</div>
			</div>
		</div>
		<div class="dot-container" id="background">
			<div class="dot">
				<div class="dot-pulse"></div>
				<div class="dot-popover">
					<h3>Customize the design </h3>
					<p> Change the background, tweak the fonts, add some color. Make the event yours and impress your guests with a beautfiful site.</p>
				</div>
			</div>
		</div>
 	</div>
</div>



<div id="product-feature-container">
	<div class="container product-feature-container">
		<div class="product-feature product-feature-left col">
			<i class="icon icon-line-build"> </i>
			<h2> Easy-to use-builder </h2>
			<p> EventCreate was built from the ground up to be simple and easy to use. Create a beautiful event website and start selling tickets in minutes.  </p>	
		</div>
		<div class="product-feature col">
			<i class="icon icon-line-mobile-friendly"> </i>
			<h2> Mobile-friendly website </h2>
			<p>Don't sacrifice design for usability. Event websites are 100% mobile and tablet friendly, so your guests can register on any device. </p>	
		</div>
		<div class="product-feature product-feature-left col">
			<i class="icon icon-line-paint"> </i>
			<h2> Custom designs</h2>
			<p>Make it your own. Make it amazing. Customize your event website with custom background images, fonts and colors. </p>
		</div>
		<div class="product-feature col">
			<i class="icon icon-line-flag"> </i>
			<h2> White-labelled </h2>
			<p>Feature your brand. Not ours. Fully "white-label" your event by uploading a custom logo and using a custom domain.</p>
		</div>
		<div class="product-feature product-feature-left col">
			<i class="icon icon-line-share "> </i>
			<h2> Powerful social sharing </h2>
			<p> Sharing is built-in: easily post on social networks and track your social reach.  </p>	
		</div>
		<div class="product-feature col">
			<i class="icon icon-line-ticket"> </i>
			<h2> Sell tickets</h2>
			<p>Easily sell tickets and collect registrations to your event. And don't worry: unlimited tickets and ticket types are included. </p>	
		</div>
		<div class="product-feature product-feature-left col">
			<i class="icon icon-line-credit-card"> </i>
			<h2> Accept payments </h2>
			<p>Quickly connect with Stripe payments to accept payments via Visa, Mastercard or American Express credit cards. You'll have access to your funds immediately. </p>	
		</div>
		<div class="product-feature col">
			<i class="icon icon-line-email"> </i>
			<h2> Send email invites </h2>
			<p>Spread the word about your event. Automatically send email invitations to your guests, customized to match the design of your website. </p>	
		</div>	
		<div class="product-feature product-feature-left col">
			<i class="icon icon-line-email"> </i>
			<h2> Guest analytics</h2>
			<p> With your powerful event dashboard, it's easy to track and analayze your event actvity. See how money you've made, see who's coming, and see who isn't. </p>	
		</div>
		<div class="product-feature col">
			<i class="icon icon-line-users"> </i>
			<h2> Manage contacts </h2>
			<p>Develop and foster a community you can count on. Track and manage your guests across multiple events.  </p>	
		</div>
		<div class="product-feature product-feature-left col">
			<i class="icon icon-line-phone-1"> </i>
			<h2> 24/7 support </h2>
			<p> If you have an question or need help customizing your event, just send us a note. We're here to help.</p>	
		</div>
		<div class="product-feature col">
			<i class="icon icon-line-lock"> </i>
			<h2> Powerful and secure </h2>
			<p>EventCreate is built on enterprise-level software and backed up by 256-bit encryption, so your attendee details are always 100% secure.</p>	
		</div>
	</div>
</div>




 	 
<%= render 'pages/partials/footer' %> 	 



<script>
$(function() {

	$(".feature-example-cover").delay(200).animate({opacity:".4", backgroundColor:"#000"}, 800);    
	$("#feature-example .screens-container").delay(200).animate({opacity:"1", top:"10px"}, 1000);    
	function randomIntFromInterval() { return Math.floor(Math.random()*(1500-500+1)+500); }
	$(".dot-container").each(function() { 
		$(this).delay(randomIntFromInterval()).fadeIn(200);
	});

	$(window).scroll(function (event) {
    	var scroll = $(window).scrollTop();
    	if (scroll > 50) {
    		$("nav").addClass("visible");
    		//$("#home-example").addClass("active");
    	} else {
    		$("nav").removeClass("visible");
    	}
	});
});


</script> 		
