<div id="home"> 


	<div id="intro-container">




		<div id="intro">
		 	<h1> features</h1>
		 	<p>checkout the features </p>
		 	
	 	</div>
 	</div>
 	 

 	 
 	 
 	
 	 
 	  
 	 
 	 <div class="footer"> <a href="/"> Features </a> | <a href="/pricing"> Pricing </a> | <a href="http://blog.eventcreate.com/">Blog</a> |  <a href="/terms">Terms and Conditions</a> &copy; EventCreate 2015. </div>
 	 	
</div>