<div id="home"> 
	<div class="cover">
		<img src=<%= image_path("intro_overlay.png") %> />
	</div>
 	<h1>create stunning event websites for <span>any occasion</span></h1>
 	
 	<div class="examples">
 			<div class="example" id="hipster"> <img src=<%= image_path("example_hipster.jpg") %> /> </div>
 	</div>
 		
</div>





<script type="text/javascript">

$('.cover').vide({
  mp4: "<%= image_path("1.mp4") %>"
}, {
	  volume: 1,
	 
	  muted: true,
	  loop: true,
	  autoplay: true,
	  position: '50% 50%', // Similar to the CSS `background-position` property.
	  posterType: 'none', // Poster image type. "detect" — auto-detection; "none" — no poster; "jpg", "png", "gif",... - extensions.
	  resizing: false // Auto-resizing, read: https://github.com/VodkaBears/Vide#resizing
	});
	
</script>