<div id="home"> 
	<div class="container">
	 	<h1>be eventful</h1>

	
	 	
	 	<ul class="features"> 
	 		<li> create free, stunning events websites for</li>
	 		<li class="feature"> <%= link_to 'corporate events', '/event-create'  %>
	 		 </li>
	 		<li class="feature"> <%= link_to 'weddings', '/event-create'  %>
	 		</li>
	 		<li class="feature"> <%= link_to 'meetups', '/event-create'  %>
	 		</li>
	 		<li class="feature"> <%= link_to 'or anything in between', '/event-create'  %>
	 			</li>
		</ul>

 	 </div>
 	 		 	<ul>
	 		<li><div class="bg-overlay" data-image="wedding.jpg"></div></li>
	 		<li><div class="bg-overlay" data-image="birthday.jpg"></div></li>
	 		<li><div class="bg-overlay" data-image="corporate.jpg"></div></li>
	 		<li><div class="bg-overlay" data-image="meetups.jpg"></div></li>
	 	</ul>
</div>

