<!-- seo -->
<% title 'Free Event Marketing Software' %>
<% meta_description 'EventCreate is the fastest way to create and manage events, including ticketing. Our free event management software helps you create stunning event websites.' %>
<!-- end seo -->

<div id="home"> 
	<div  class="container">
	 	<h1>be eventful</h1>
 	 </div>
 	 
 	 <div id="intro" class="example"> 
 	 
 	 		<h2> create free, stunning event websites</h2>
 	 				<p class="lead">EventCreate is the easiest way to create dazzling events online or via your mobile device. In just a few seconds, you can have a stunning event page and amazing invites sent to all your guests. Whether you’re creating an event site for a wedding, concert, or even just a casual meetup between friends, EventCreate is the free and elegant solution to all your needs.  </p>
 	 		
			<div class="screen"> 
				<img src="assets/home/sample.jpg"/>	
			</div>	
 	 </div> 
 	 
 	 <div class="footer">&copy; EventCreate 2015. <a href="/terms">Terms and Conditions</a> </div>
 	 	
</div>