<% title "Sell tickets to your event. For free." %>
<% meta_description 'EventCreate is the easiest way to create a custom event website. Collect registrations, sell tickets, send invites, and manage your attendees — all in one place.' %>



<div class="hero" id="home">
	
	<div class="hero-image"></div>

 	<div class="hero-content">
		<h1> Create a beautiful event website. </h1>
		<h3>It's free. </h3>
		<p class="lead">Sell tickets to your events for free. No service fees. <br>No convenience fees. Free. (Yup, it’s that simple.)  </p>	 
		<%= link_to 'Create free event website ', new_user_registration_path, :class => 'btn btn-large'  %>
	</div>


</div>	


<div id="home-example" style="display:none;" >
 	<div class="screens-container " >
	 	<div class="screen"> 
	 		<div class="screen-nav">
	 			<div class="button"></div>
	 			<div class="button"></div>
	 			<div class="button"></div>
	 		</div>
	 		<div class="owl-carousel" id="example-desktop-carousel">
				<div class="item">
					<img src="/assets/home/sample16.jpg" />	
				</div>
				<div class="item">
					<img src="/assets/home/sample12.jpg" />	
				</div>
				<div class="item">
					<img src="/assets/home/sample15.gif" />	
				</div>
				<div class="item">
					<img src="/assets/home/sample13.jpg" />	
				</div>
				<div class="item">
					<img src="/assets/home/sample14.jpg" />	
				</div>
				<div class="item">
					<img src="/assets/home/sample10.jpg" />	
				</div>
			</div>	
	 	</div>	
	 	<div class="phone"> 
	 		<div class="details">
	 			<div class="camera"></div>
	 			<div class="speaker"></div>
	 		</div>
			<div class="owl-carousel" id="example-mobile-carousel">
				<div class="item">
					<img src="/assets/home/sample16_mobile.jpg" />	
				</div>
				<div class="item">
					<img src="/assets/home/sample12_mobile.jpg" />	
				</div>		
				<div class="item">
					<img src="/assets/home/sample15_mobile.gif" />	
				</div>
				<div class="item">
					<img src="/assets/home/sample13_mobile.jpg" />	
				</div>
				<div class="item">
					<img src="/assets/home/sample14_mobile.jpg" />	
				</div>				
				<div class="item">
					<img src="/assets/home/sample10_mobile.jpg" />	
				</div>
			</div>
			<div class="example-description" style="display:none;">
				<img src="https://randomuser.me/api/portraits/women/82.jpg"> "Simply awesome!"<br> <span>- Jane, Event Planner, <br>Habitat for Humantiy</span>
			</div>
	 	</div>
	 	<div class="arrow arrow-left"><i class="icon icon-arrow-left"> </i> </div>
	 	<div class="arrow arrow-right"><i class="icon icon-arrow-right"> </i> </div>
 	</div>
 	<div class="screens-copy-container container">
	 	<div class="container container-small">
		 	<h2> Create an event page that impresses your guests. </h2>
		 	<p>Impress your event attendees with a kick-ass, custom-branded event page. <br>We feature your brand. Not ours.  </p>
			<%= link_to 'Create my event page now', new_user_registration_path, :class => 'btn btn-large'  %>
	 	</div>
 	</div>
</div>



<div id="home-savings-calc" style="display:none;">
	<div class="container container-small">
		<h2>Zero fees. Period. </h2>
 		<p>EventCreate doesn't charge any ticketing or platforms fees (which typically amount to 3%-5% of the ticket price). Think of all the extra kegs you'll be able to afford. </p>
 		<div class="slider-container">
 			<span id="event_size">100 attendees</span>
			<div class="slider" id="slider_event_size"> </div>
		</div>
 		<div class="slider-container">
 			<span id="event_price">$50 per ticket</span>
			<div class="slider" id="slider_event_price"> </div>
		</div>
		<h3 id="event_savings"> Save $2,000</h3>
	</div>
</div>


<div class="container container-small" id="introduction-note" style="display:none;"> 
	<p>We’re like you. We’ve planned hundreds of events. We’ve tested dozens of registration platforms. We’ve paid thousands of dollars in service fees. </p> 
	<p>In late 2015, we decided to change that. So we teamed up with some friends to build a new platform with one goal: a simple event registration tool with zero fees. No service fees, no monthly fees, no ticketing fees. Free. </p>
	<p>Three months later, we’re excited (like, really excited) to announce that we’re finished with our beta product. We can’t wait to hear what you think. </p>
	<div class="signatures">
		<div class="signature">
			<div class="signature-img"><img src="/assets/home/signature_mark.png"></div> Mark Bushy<br> Co-Founder 
		</div>
		<div class="signature">
			<div class="signature-img"><img src="/assets/home/signature_rich.png"></div> Rich Saethang<br> Co-Founder</div>
	
	</div>
</div>


<div class="container" id="home-cta" style="display:none;">
	<h2> Get an unlimited-day free trial.  </h2>
	<%= link_to 'Sign up now', new_user_registration_path, :class => 'btn btn-large'  %>
</div>
	
<%= render 'pages/partials/footer' %> 	

<script>
$(function() {
    var eventSize = 150
    var eventPrice = 75;
    calcSavings();
    $("#slider_event_size").slider({
        min: 10,
        max: 1000,
        value: 150,
        slide: function(event, ui) {
            eventSize = ui.value;
            calcSavings();
        }
    });
    $("#slider_event_price").slider({
        min: 2,
        max: 1000,
        value: 75,
        slide: function(event, ui) {
            eventPrice = ui.value;
            calcSavings();
        }
    });

    function calcSavings() {
        $("#event_price").text("$" + eventPrice + " per ticket");
        $("#event_size").text(eventSize + " attendees");
        $("#event_savings").text("You'll save appox. $" + Math.floor(
                eventSize * ((eventPrice * .026) + .7)) +
            ".");
    }

	var mobileCarousel = $('#example-mobile-carousel').owlCarousel({
	    loop:true,
	    items:1,
	    nav:false,
	    dots:false,
	    smartSpeed:500
	});
	var desktopCarousel = $('#example-desktop-carousel').owlCarousel({
	    loop:true,
	    items:1,
	    nav:false,
	    dots:false,
	    smartSpeed:500
	});

    $('.arrow-right').click(function(){ 
        mobileCarousel.trigger('next.owl.carousel');
        desktopCarousel.trigger('next.owl.carousel');
    });
    $('.arrow-left').click(function(){ 
        mobileCarousel.trigger('prev.owl.carousel');
        desktopCarousel.trigger('prev.owl.carousel');
    });    
    desktopCarousel.on('changed.owl.carousel', function(event) {
        var examples = [
		    "Google",
		    "Habitat for Humanity"
		];
		//correct for incorrect index bug 
		var owlCorrection = 3;
		//$(".example-description").html(examples[event.item.index - owlCorrection]);
    });
  

});



</script> 	