<% title "Sell tickets to your event. For free." %>
<% meta_description 'EventCreate is the easiest way to create a custom event website. Collect registrations, sell tickets, send invites, and manage your attendees — all in one place.' %>



<div class="hero" id="home">
	<div class="hero-cover"></div>
 	<div class="hero-content">
		<h1> Sell tickets to your event. For free. </h1>
		<p class="lead">Unlimited events. Unlimited tickets. <br>Completely, 100% free. Yup, it’s that simple.  </p>	 
		<%= link_to 'Sign up for free', new_user_registration_path, :class => 'btn btn-large'  %>
	</div>
</div>	


<div id="home-example">
 	<div class="screens-container " >
	 	<div class="screen"> 
	 		<div class="screen-nav">
	 			<div class="button"></div>
	 			<div class="button"></div>
	 			<div class="button"></div>
	 		</div>
	 		<img src="/assets/home/sample2.jpg" />	
	 	</div>	
	 	<div class="phone"> 
	 		<div class="details">
	 			<div class="camera"></div>
	 			<div class="speaker"></div>
	 		</div>
			<img src="/assets/home/sample2_mobile.jpg" />	
	 	</div>
 	</div>
 	<div class="screens-copy-container container">
	 	<div class="container container-small">
		 	<h2> Create a beautiful event website</h2>
		 	<p>Impress your event attendees with a beautiful, custom branded event website.  Create your site and start collecting registrations in just a few minutes with EventCreate's easy-to-use builder. </p>
			<%= link_to 'Create my event website', new_user_registration_path, :class => 'btn btn-large'  %>
	 	</div>
 	</div>
</div>



<div id="home-savings-calc">
	<div class="container container-small">
		<h2>Switch to EventCreate and save </h2>
 		<p>Unlike most event ticketing platforms, EventCreate doesn't charge any service or "convenience" fees, which typically amount to $1 + 3% of the ticket price. Think of all the extra booze you can afford. </p>
 		<div class="slider-container">
 			<span id="event_size">100 attendees</span>
			<div class="slider" id="slider_event_size"> </div>
		</div>
 		<div class="slider-container">
 			<span id="event_price">$50 per ticket</span>
			<div class="slider" id="slider_event_price"> </div>
		</div>
		<h3 id="event_savings"> Save $2,000</h3>
	</div>
</div>

<div class="container" id="home-cta">
	<h2> Let's make better events together. </h2>
	<%= link_to 'Sign up for free', new_user_registration_path, :class => 'btn btn-large'  %>
</div>
	
<%= render 'pages/partials/footer' %> 	

<script>
$(function() {
    var eventSize = 150
    var eventPrice = 75;
    calcSavings();
    $("#slider_event_size").slider({
        min: 10,
        max: 1000,
        value: 150,
        slide: function(event, ui) {
            eventSize = ui.value;
            calcSavings();
        }
    });
    $("#slider_event_price").slider({
        min: 2,
        max: 1000,
        value: 75,
        slide: function(event, ui) {
            eventPrice = ui.value;
            calcSavings();
        }
    });

    function calcSavings() {
        $("#event_price").text("$" + eventPrice + " per ticket");
        $("#event_size").text(eventSize + " attendees");
        $("#event_savings").text("You'll save appox. $" + Math.floor(
                eventSize * ((eventPrice * .026) + .7)) +
            ".");
    }
});
</script> 	
