<div id="home"> 
	<div class="container">
	 	<h1>be eventful</h1>

	
	 	
	 	<ul class="features"> 
	 		<li> create free, stunning events websites for</li>
	 		<li class="feature"> <a href="#">weddings</a>
	 		 </li>
	 		<li class="feature"> <a href="#" >birthday parties</a>
	 		</li>
	 		<li class="feature"> <a href="#" >corporate events</a>
	 		</li>
	 		<li class="feature"> <a href="#" >meetups</a>
	 		</li>
		</ul>

 	 </div>
 	 		 	<ul>
	 		<li><div class="bg-overlay" data-image="wedding.jpg"></div></li>
	 		<li><div class="bg-overlay" data-image="birthday.jpg"></div></li>
	 		<li><div class="bg-overlay" data-image="corporate.jpg"></div></li>
	 		<li><div class="bg-overlay" data-image="meetups.jpg"></div></li>
	 	</ul>
</div>

