
<div class="widgets"> 
    <div id="home">
        <div id="center">

            <h1>Make Beautiful Event Websites</h1>
            <div class="lead"> Instantly create spectacular event websites and invitations. For free.</div>
            <a class="btn" href="/events/new">Try It Now</a>
        </div>
    </div>


</div>