
<div class="widgets"> 
    <div id="home">
        <div id="center">
            <h1>Make Beautiful<br/>Event Websites</h1>
            <div class="lead"> Instantly create spectacular event websites and invitations. For free.</div>
            <%= link_to "Try it now", '/create', :class => 'btn' %>
        </div>
    </div>


</div>