
<div class="hero hero-simple" >
 	<div class="hero-content">
		<h1> Brand assets</h1>
		<p>For any press or general inquires, please feel to shoot us an email at hello@eventcreate.com </p>	
	</div>
</div>	

<div class="container" id="brandingassets">
	<h4> Logos/Branding assets</h4>
	<a href="#">
		<img src="screen1" />
		<span>Normal logo </span>
	</a>





</div>




<%= render 'pages/partials/footer' %> 	 
