
<div id="pricing">
    <div id="center">
        <h1>Pricing </h1>
        <div class="lead"> Lorem ipsum solor sit</div>
    </div>
    
    
    <div class="plans"> 
    
			<a class="plan-container"> 
				<div class="plan">
					<h2>Basic </h2>
					<div class="price">Free</div>
					<ul class="features"> 
						<li>1 event website </li>					
					</ul> 
					<ul class="secondary-features"> 
						<li>Custom, mobile-friendly templates </li>
						<li>Powerful event anayltics</li>
						<li>24/7 customer support </li>
					</ul> 
					<div class="btn">Choose plan </div>      				   
				</div>
			</a>
    
			    	
			<a class="plan-container"> 
				<div class="plan">
					<h2>Premium </h2>
					<div class="price">$7/mo</div>
					<ul class="features"> 
						<li>Unlimited event websites </li>
						<li>Unlimited email invites</li>
						<li></li>						
					</ul> 
					<ul class="secondary-features"> 
						<li>Custom, mobile-friendly templates </li>
						<li>Powerful event anayltics</li>
						<li>24/7 customer support </li>
					</ul> 
					<div class="btn">Choose plan </div>      				   
				</div>
			</a>
			    	
			
			<a class="plan-container"> 
				<div class="plan">
					<h2>Pro </h2>
					<div class="price">$19/mo</div>
					<ul class="features"> 
					<li>Unlimited event websites </li>
					<li>Unlimited email invites</li>
					<li>Paid events</li>											
					</ul> 
					<ul class="secondary-features"> 
						<li>Custom, mobile-friendly templates </li>
						<li>Powerful event anayltics</li>
						<li>24/7 customer support </li>
					</ul> 
					<div class="btn">Choose plan </div>      				   
				</div>
			</a>
    	
    </div>
    
    
    
    
    
</div>




<div class="faq"> 

	<h2>Frequently Asked Questions</h2>


	<div class="questions"> 
		<div class="question">
			<h3>Lorem ipsum solor? </h3>	
			<p>Cras luctus luctus rhoncus. Nam id sem eget nibh consectetur blandit. Nam maximus, dolor vel consectetur tincidunt, ipsum libero tristique felis, non egestas diam nisi eu tellus. Aliquam condimentum diam eget ultricies facilisis. Praesent luctus tortor arcu. </p>
		</div>
		<div class="question">
			<h3>Lorem ipsum solor? </h3>	
			<p>Cras luctus luctus rhoncus. Nam id sem eget nibh consectetur blandit. Nam maximus, dolor vel consectetur tincidunt, ipsum libero tristique felis, non egestas diam nisi eu tellus. Aliquam condimentum diam eget ultricies facilisis. Praesent luctus tortor arcu. </p>
		</div>
		<div class="question">
			<h3>Lorem ipsum solor? </h3>	
			<p>Cras luctus luctus rhoncus. Nam id sem eget nibh consectetur blandit. Nam maximus, dolor vel consectetur tincidunt, ipsum libero tristique felis, non egestas diam nisi eu tellus. Aliquam condimentum diam eget ultricies facilisis. Praesent luctus tortor arcu. </p>
		</div>
		<div class="question">
			<h3>Lorem ipsum solor? </h3>	
			<p>Cras luctus luctus rhoncus. Nam id sem eget nibh consectetur blandit. Nam maximus, dolor vel consectetur tincidunt, ipsum libero tristique felis, non egestas diam nisi eu tellus. Aliquam condimentum diam eget ultricies facilisis. Praesent luctus tortor arcu. </p>
		</div>
	</div>
	
	<div class="questions"> 
		<div class="question">
			<h3>Lorem ipsum solor? </h3>	
			<p>Cras luctus luctus rhoncus. Nam id sem eget nibh consectetur blandit. Nam maximus, dolor vel consectetur tincidunt, ipsum libero tristique felis, non egestas diam nisi eu tellus. Aliquam condimentum diam eget ultricies facilisis. Praesent luctus tortor arcu. </p>
		</div>
		<div class="question">
			<h3>Lorem ipsum solor? </h3>	
			<p>Cras luctus luctus rhoncus. Nam id sem eget nibh consectetur blandit. Nam maximus, dolor vel consectetur tincidunt, ipsum libero tristique felis, non egestas diam nisi eu tellus. Aliquam condimentum diam eget ultricies facilisis. Praesent luctus tortor arcu. </p>
		</div>
		<div class="question">
			<h3>Lorem ipsum solor? </h3>	
			<p>Cras luctus luctus rhoncus. Nam id sem eget nibh consectetur blandit. Nam maximus, dolor vel consectetur tincidunt, ipsum libero tristique felis, non egestas diam nisi eu tellus. Aliquam condimentum diam eget ultricies facilisis. Praesent luctus tortor arcu. </p>
		</div>
		<div class="question">
			<h3>Lorem ipsum solor? </h3>	
			<p>Cras luctus luctus rhoncus. Nam id sem eget nibh consectetur blandit. Nam maximus, dolor vel consectetur tincidunt, ipsum libero tristique felis, non egestas diam nisi eu tellus. Aliquam condimentum diam eget ultricies facilisis. Praesent luctus tortor arcu. </p>
		</div>
	</div>


</div>



