
<div id="pricing">
    <div id="center">
        <h1>Pricing </h1>
        <div class="lead"> We offer three tiers to help you get the most out of your events.</div>
    </div>
    
    
    <div class="plans"> 
    
			<a class="plan-container"> 
				<div class="plan">
					<h2>Basic </h2>
					<div class="price">Free</div>
					<ul class="features"> 
						<li>1 event website </li>					
					</ul> 
					<ul class="secondary-features"> 
						<li>Custom, mobile-friendly templates </li>
						<li>Powerful event anayltics</li>
						<li>24/7 customer support </li>
					</ul> 
					<div class="btn">Choose plan </div>      				   
				</div>
			</a>
    
			    	
			<a class="plan-container"> 
				<div class="plan">
					<h2>Premium </h2>
					<div class="price">$7/mo</div>
					<ul class="features"> 
						<li>Unlimited event websites </li>
						<li>Unlimited email invites</li>
						<li></li>						
					</ul> 
					<ul class="secondary-features"> 
						<li>Custom, mobile-friendly templates </li>
						<li>Powerful event anayltics</li>
						<li>24/7 customer support </li>
					</ul> 
					<div class="btn">Choose plan </div>      				   
				</div>
			</a>
			    	
			
			<a class="plan-container"> 
				<div class="plan">
					<h2>Pro </h2>
					<div class="price">$19/mo</div>
					<ul class="features"> 
					<li>Unlimited event websites </li>
					<li>Unlimited email invites</li>
					<li>Paid events</li>											
					</ul> 
					<ul class="secondary-features"> 
						<li>Custom, mobile-friendly templates </li>
						<li>Powerful event anayltics</li>
						<li>24/7 customer support </li>
					</ul> 
					<div class="btn">Choose plan </div>      				   
				</div>
			</a>
    	
    </div>
    
    
    
    
    
</div>




<div class="faq"> 

	<h2>Frequently Asked Questions</h2>


	<div class="questions"> 
	
	
		<div class="question">
			<h3>Do you offer a free trial?</h3>
			<p>It’s free to set up an account and create your first event website. You’ll
			have to upgrade to create one than one event or to send emails to
			attendees.</p>
		</div>
		
		<div class="question">			
			<h3>What’s unlimited?</h3>
			<p>Once you upgrade your subscription to a paid plan, you’ll be able to create
			unlimited events and send unlimited event emails.</p>
		</div>
				
		<div class="question">	
			<h3>Is there a discount for non-profits or students.</h3>
			<p>Yes, we offer discounts for non-profits and students (with a valid .edu
			email address). For more details, please shoot us an email
			<a href="mailto:hello@eventcreate.com">hello@eventcreate.com</a>.</p>
		</div>
		
		<div class="question">	
			<h3>Do I need a web host?</h3>
			<p>No. All EventCreate plans include our fully-managed cloud hosting, ensuring
			your website remains available at all times.</p>
		</div>
		

		
		
	</div>
	
	<div class="questions"> 
	

		
		<div class="question">
			<h3>Can I change my plan?</h3>
			<p>Definitely. You can switch your plans at anytime without penalty.</p>
		</div>	
	
		
		<div class="question">			
			<h3>What payment types are accepted?</h3>
			<p>We accept most major credit cards. For larger organizations, we invoice as
			well.</p>
		</div>
		
		<div class="question">	
			<h3>How do you cancel?</h3>
			<p>You can cancel at anytime, no questions asked, by visiting your account
			page.</p>
		</div>
		
		
		<div class="question">			
			<h3>More questions?</h3>
			<p>Our support team is available 24/7. Email us at <a href="mailto:hello@eventcreate.com">hello@eventcreate.com </a></p>
		</div>
		
		
	</div>




</div>


<div class="footer"> <a href="/"> Features </a> | <a href="/pricing"> Pricing </a> | <a href="http://blog.eventcreate.com/">Blog</a> |  <a href="/terms">Terms and Conditions</a> &copy; EventCreate 2015. </div>


