<div class="hero" id="pricing">
 	<div class="hero-content">
		<h1> simple pricing </h1>
		<p>Fusce nec lacus lorem. Nulla et aliquam tortor, id sodales nibh. Praesent dignissim nec diam a accumsan. Etiam feugiat dui id tortor aliquam sollicitudin. </p>	 	
	</div>
</div>	




<div class="plans"> 
	<div class="plan ">
		<h3>Basic </h3>
		<p class="price">Free</p>
		<ul class="features"> 
			<li>1 event </li>					
			<li>50 registrations </li>		
		</ul> 
		<ul class="secondary-features"> 
			<li class="disabled">Custom branding </li>
			<li class="disabled">White labelled domain</li>
			<li class="disabled">Sell tickets/accept payments</li>
			<li class="disabled">Priority customer support </li>	
		</ul>
		<a class="btn">Current plan</a>      				   
	</div>



	<div class="plan" data-description="Premium Plan: $7/month. Cancel anytime.">
		<h3>Premium </h3>
		<p class="price">$7/mo<br>Cancel anytime</p>
		<ul class="features"> 
			<li>3 events </li>					
			<li>500 registrations </li>		
		</ul> 
		<ul class="secondary-features"> 
			<li>Custom branding </li>
			<li>White labelled domain</li>
			<li class="disabled">Sell tickets/accept payments</li>
			<li class="disabled">Priority customer support </li>	
		</ul>
		<a class="btn">Choose plan</a>      				   
	</div>



	<div class="plan" data-description="Pro Plan: $29/month. Cancel anytime.">
		<h3>Pro </h3>
		<p class="price">$29/mo<br>Cancel anytime</p>
		<ul class="features"> 
			<li>Unlimited events </li>					
			<li>5,000 registrations </li>		
		</ul> 
		<ul class="secondary-features"> 
			<li>Custom branding </li>
			<li>White labelled domain</li>
			<li>Sell tickets/accept payments</li>
			<li>Priority customer support </li>	
		</ul>
		<a class="btn">Choose plan</a>      				   
	</div>



	<div class="plan" data-description="Enterprise Plan: $69/month. Cancel anytime.">
		<h3>Enterprise </h3>
		<p class="price">$69/mo<br>Cancel anytime</p>
		<ul class="features"> 
			<li>Unlimited events </li>					
			<li>15,000 registrations </li>		
		</ul> 
		<ul class="secondary-features"> 
			<li>Custom branding </li>
			<li>White labelled domain</li>
			<li>Sell tickets/accept payments</li>
			<li>Priority customer support </li>	
		</ul>
		<a class="btn">Choose plan</a>      				   
	</div>

</div>
    
    

    
    
    
    
    




<div class="faq"> 

	<div class="questions"> 
		<div class="question">
			<h3>Do you offer a free trial?</h3>
			<p>It’s free to set up an account and create your first event website. You’ll
			have to upgrade to create one than one event, or to send emails to
			attendees.</p>
		</div>
		
		<div class="question">			
			<h3>What’s unlimited?</h3>
			<p>Once you upgrade your subscription to a paid plan, you’ll be able to create
			unlimited events and send unlimited event emails!</p>
		</div>
				
		<div class="question">	
			<h3>Is there a discount for non-profits or students.</h3>
			<p>Yes, we offer discounts for non-profits and students (with a valid .edu
			email address). For more details, please shoot us an email
			<a href="mailto:hello@eventcreate.com">hello@eventcreate.com</a>.</p>
		</div>
		
		<div class="question">	
			<h3>Do I need a web host?</h3>
			<p>No. All EventCreate plans include our fully-managed hosting.</p>
		</div>
		

		
		
	</div>
	
	<div class="questions"> 
	

		
		<div class="question">
			<h3>Can I change my plan?</h3>
			<p>Definitely. You can switch your plans at anytime.</p>
		</div>	
	
		
		<div class="question">			
			<h3>What payment types are accepted?</h3>
			<p>We accept most major credit cards. For larger organizations, we invoice as
			well.</p>
		</div>
		
		<div class="question">	
			<h3>How do you cancel?</h3>
			<p>You can cancel at anytime, no questions asked, by visiting your account
			page.</p>
		</div>
		
		
		<div class="question">			
			<h3>More questions?</h3>
			<p>Our support team is available 24/7. Email us at <a href="mailto:hello@eventcreate.com">hello@eventcreate.com </a></p>
		</div>
		
		
	</div>




</div>


<div class="footer"> <a href="/"> Features </a> | <a href="/pricing"> Pricing </a> | <a href="http://blog.eventcreate.com/">Blog</a> |  <a href="/terms">Terms and Conditions</a> &copy; EventCreate 2015. </div>


