


<div class="hero hero-simple" >
 	<div class="hero-content">
		<h1> Simple pricing.</h1>
		<p>EventCreate is 100% free for selling tickets and collecting registrations.<br> If you want to white-label your event website, it's just $15/mo. It's that simple. </p>	
	</div>
</div>	


	


<div class="external-plans container"> 
		<div class="external-plan col">
			<img src="https://c.stocksy.com/a/PhU100/z0/356339.jpg">
			<h2>Starter </h2>
			<p class="price">Free</p>
			<p class="price-qualifier">forever</p>

			<ul class="features"> 
				<li>Create unlimited events and sell tickets with zero service fees </li>						
			</ul> 
			<ul class="secondary-features"> 
				<li class="disabled">100% white-labelled </li>
				<li class="disabled">Custom design and branding </li>
				<li class="disabled">Send email invites </li>	
				<li class="disabled">Priority customer support </li>	
			</ul> 
			<%= link_to 'Get started ', new_user_registration_path, :class => 'btn' %>   				   
		</div>

		<div class="external-plan col" data-description="Premium Plan: $7/month. Cancel anytime.">
			<img src="https://c.stocksy.com/a/cXH300/z0/782416.jpg">
			<h2>Pro </h2>
			<p class="price">$15</p>
			<p class="price-qualifier">per month</p>
			<ul class="features"> 
				<li>Go professional with a white-labelled event website and a custom design. </li>						
			</ul> 
			<ul class="secondary-features"> 
				<li class="">100% white-labelled </li>
				<li class="">Custom design and branding </li>
				<li class="">Send email invites </li>	
				<li class="">Priority customer support </li>	
			</ul> 
			<%= link_to 'Go Professioanl', new_user_registration_path, :class => 'btn' %>    				   
		</div>
	</div> 


    

    
    
    
    
<div class="container" id="home-cta">
	<h2> Let's make better events together. </h2>
	<%= link_to 'Sign up for free', new_user_registration_path, :class => 'btn btn-large'  %>
</div>




<div class="faq container" style="display:none;"> 

	<div class="questions col"> 
		<div class="question">
			<h3>Do you offer a free trial?</h3>
			<p>It’s free to set up an account and create your first event website. You’ll
			have to upgrade to create one than one event, or to send emails to
			attendees.</p>
		</div>
		
		<div class="question">			
			<h3>What’s unlimited?</h3>
			<p>Once you upgrade your subscription to a paid plan, you’ll be able to create
			unlimited events and send unlimited event emails!</p>
		</div>
				
		<div class="question">	
			<h3>Is there a discount for non-profits or students.</h3>
			<p>Yes, we offer discounts for non-profits and students (with a valid .edu
			email address). For more details, please shoot us an email
			<a href="mailto:hello@eventcreate.com">hello@eventcreate.com</a>.</p>
		</div>
		
		<div class="question">	
			<h3>Do I need a web host?</h3>
			<p>No. All EventCreate plans include our fully-managed hosting.</p>
		</div>
		

		
		
	</div>
	
	<div class="questions col"> 
	

		
		<div class="question">
			<h3>Can I change my plan?</h3>
			<p>Definitely. You can switch your plans at anytime.</p>
		</div>	
	
		
		<div class="question">			
			<h3>What payment types are accepted?</h3>
			<p>We accept most major credit cards. For larger organizations, we invoice as
			well.</p>
		</div>
		
		<div class="question">	
			<h3>How do you cancel?</h3>
			<p>You can cancel at anytime, no questions asked, by visiting your account
			page.</p>
		</div>
		
		
		<div class="question">			
			<h3>More questions?</h3>
			<p>Our support team is available 24/7. Email us at <a href="mailto:hello@eventcreate.com">hello@eventcreate.com </a></p>
		</div>
		
		
	</div>




</div>


<%= render 'pages/partials/footer' %>

