<div class="footer text-center">

	<p> Questions? We're here to help. Contact us at hello@eventcreate.com or at (617) 752-2176</p>
   
   <a href="/terms">Terms and Conditions</a>   <a href="/privacy">Privacy Policy</a>    &copy; EventCreate 2016. 

</div>