<div class="footer">

    <%= link_to "Contact Us", "/contact", :"data-no-turbolink" => true %> | <a href="http://blog.eventcreate.com/">Blog</a> | <a href="/terms">Terms and Conditions</a> | <a href="/privacy">Privacy Policy</a>  |  &copy; EventCreate 2015. 

</div>