<div class="editor-tool editor-panel-left-nav" id="editor-tool-coupons" >



        <!--  COUPON LOOP/NAV -->

        <ul class="editor-aside editor-aside-nav">
            <li><div class="editor-aside-nav-desc"><h3>FALL2016 </h3><p>10% off </p></div></li>
            <a href="#" class="edit-aside-nav-add"><h4>+ Add New Coupon Type</h4> </a>
        </ul>
    



        <!--  COUPON DETAIL  -->

       <div class="editor-panel">
        
            <h1>FALL2016</h1>

            <form>
                <div class="input-group">
                    <label> Ticket Name</label>
                    <input type="text" />
                </div>

                <div class="input-group">
                    <button class="btn btn-primary">Update</button>
                </div>

            </form>
        </div>


        <!--  SAMPLE EMPTY STATE   -->

        <div class="editor-panel empty hidden">

            <i class="icon icon-tag"> </i>
            <h1>Coupons</h1>
            <p>Add a new coupon.</p>
            <p><button class="btn btn-primary">Add coupon</button> </p>


        </div>





      
</div>