




    <div class="editor-tool" id="editor-tool-background">


        <div class="row editor-tool-header">
            <div class="col-md-6">
                Event website design
            </div>
            <div class="col-md-6 text-right">
               
            </div>
        </div>




        <div class="row">
            <div class="col-md-3">
                <h4>Layout </h4>
                <p>Show or hide sections of your event website. </p>
            </div>

            <div class="col-md-9 layout-select">
              <ul> 
              <li class="test-show-layout"  data-target="#about">About <i class="fa fa-eye"> </i></li>
              <li class="test-show-layout" data-target="#speakers">Speakers <i class="fa fa-eye"> </i></li>
              <li class="test-show-layout" data-target="#program">Program/Schedule <i class="fa fa-eye"> </i></li>
              <li class="test-show-layout" data-target="#sponsors">Sponsors <i class="fa fa-eye"> </i></li>
              </ul>


          </div>
        </div>





        <div class="row">
            
            <div class="col-md-3">
                <h4>Background image </h4>
                <p>Modify your website's main background here. </p>
            </div>

            <div class="col-md-9">
                <div class="editor-current-bg upload-btn" style="background-image: url(<%= image_path(background_checker(@event, false), :width => 100) %> ) !important"> </div>  
                <a class="upload-btn btn btn-small"> <i class="fa fa-upload"> </i> Upload image </a> 
                <a class="open-image-modal btn btn-small"> <i class="fa fa-search"> </i> Search image library </a> 

            </div>
        </div>  


        <div class="row">
            
            <div class="col-md-3">
                <h4>Background color </h4>
                <p>Change the opacity or color of the background color. </p>
            </div>

            <div class="col-md-9">
                <div class="slider-container">
                    <div class="slider"> <div id="slider"></div> </div>
                    <div class="color-picker"><input id="color"></div>
                </div>

  
            </div>
        </div>  









    </div> 