<div class="editor-tool editor-panel-left-nav" id="editor-tool-ticketing" >



        <!--  TICKET TYPE LOOP/NAV -->

        <ul class="editor-aside editor-aside-nav">
            <li><div class="editor-aside-nav-desc"><h3>General Admission (Saturday) </h3><p>0 out of 100 </p></div></li>
            <li><div class="editor-aside-nav-desc"><h3>VIP </h3><p>0 out of 100 </p></div></li>
            <a href="#" class="edit-aside-nav-add"><h4>+ Add New Ticket Type</h4> </a>
        </ul>
    



        <!--  TICKET DETAIL  -->

       <div class="editor-panel">
        
            <h1>General Admission (Saturday)</h1>

            <form>
                <div class="input-group">
                    <label> Ticket Name</label>
                    <input type="text" />
                </div>
                <div class="input-group">
                    <button class="btn btn-primary">Update</button>
                </div>
            </form>
        </div>




        <!--  SAMPLE EMPTY STATE   -->

        <div class="editor-panel empty hidden">

            <i class="icon icon-ticket"> </i>
            <h1>Ticketing</h1>
            <p>Add new ticket. It sure is neat. PS, we've added a sample "General Admssion" ticket for you, to help you get started.</p>
            <p><button class="btn btn-primary">Add ticket</button> </p>


        </div>





      
</div>