 <div class="editor-tool editor-panel-left-nav" id="editor-tool-details">

    

    <%= react_component 'EditorSectionContainer', { eventObj: @event, ticketObj: @ticket  } %>


    

      


</div>
