<div class="editor-tool editor-panel-left-nav" id="editor-tool-questions" >



        <!--  COUPON LOOP/NAV -->

        <ul class="editor-aside editor-aside-nav">
            <li><div class="editor-aside-nav-desc"><h3>T-shirt size </h3><p>Text input </p></div></li>
            <a href="#" class="edit-aside-nav-add"><h4>+ Add New Question </h4> </a>
        </ul>
    



        <!--  COUPON DETAIL  -->

       <div class="editor-panel editor-panel-blank-state">
        
            <i class="icon icon-question"> </i>
            <h1>Questions</h1>
            <p>Need to your attendees for a t-shirt size, or collect info or a guest? Add a custom question to your registration form.</p>
            <p><button class="btn btn-primary">Add New Question</button> </p>

        </div>





      
</div>