<div class="editor-tool" id="editor-tool-support">

  <section class="editor-tool-header">
    <h3>Support </h3> 
    <p>Have a question? Need help setting up your website? Feel free to reach out.</p>
    <p> Our support team is available to help 24/7. </p>
  </section>

  <section> 
    <a class="inline-large"><i class="fa fa-fw fa-phone"></i> 1 (617) 752-2176</a>       
    <a href="mailto:support@eventcreate.com" class="inline-large"><i class="fa fa-fw fa-envelope"></i> support@eventcreate.com</a>       

  </section>

</div>  