<div class="editor-tool editor-panel-left-nav" id="editor-tool-ticketing" >
  <!--  TICKET TYPE LOOP/NAV -->
  <%= react_component 'EditorSection', { items: @tickets_for_event, current_selection: @current_ticket } %>
</div>