// Place all the styles related to the Dashboard controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.dashboard {
	padding: 0;
	margin: 0;

	.form-element {
		position: relative;
	}
	label.error {
		top: 8px;
		right: 0;
	}
}

