// Place all the styles related to the events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.events-list {
	.event {
		clear:both;
		margin:44px 0;
		box-sizing:border-box;
		
		.image {
			width:200px;
			height:200px;
			float:left;
			margin-right:30px;
			background-size:cover;
			display:block;
		
		}
		
		.title {
			font-size:30px;		
			font-weight:400;
		}
		
		.registrants {
			margin-top:20px;
		
		}
		
		.actions {
			margin-top:20px;
			
			a {
				font-size:12px;
				margin-right:10px;
				display:inline-block;
			}
		
		}
	
	
	
	}
	
	.event:after {
		content: "";
 		display: table;
 		clear: both;		
	}

}

.percent {
    position: fixed;
    z-index:2;
    top: 0;
    width: 100%;
    height: 10px;
    display: block;
    background-color: transparent;

    span {
    width: 0%;
    background-color: #21afbf;
    height: 100%;
    display: block;

    }
}

.slide-up-hide {
    top: -20%;
    opacity: 0;
    z-index:0;
}

.slide-down-hide {
    top: 20%;
    opacity: 0;
    z-index:0;
}

.slide-up-show {
    top: 0%;
    opacity: 1;
    z-index: 1;
}




.event-registration  .input-primary{
color:#1a1a1a;
text-align: center;
border-bottom:1px solid #444;    
}




.event-registration {

    // position: fixed;
    // z-index:9999;
}
.side-nav {
    top: 40%;
    z-index: 9999;
    li {
        list-style-type: none;
        margin: 20px 10px;
      a {
        width: 10px;
        border-radius: 50%;
        height: 10px;
        display: block;
        background: #fff;
        transition: background-color .2s ease-in-out;

            &:hover, &.active {
                background-color: #21afbf;
            }
        }
    }
    position: absolute;
    right: 0;
}



.attendee-form-container {
	
	//position:fixed;
	position:relative; 
	width:100%;
	//z-index:999;
	//top:5%;
	//left:0;

	
	#attendee-form {
		width:100%;
		margin:0 auto;
		background:#1a1a1a !important;
		text-align: center;
		padding:50px 40px;
		color:#fff;
		
		form {
			max-width:500px;
			margin:0 auto;
			
			ul {
				margin: 0 0 40px 0;
			
				li {
				  width: 49%;
				}
			}
			
			label {
				font-size:18px;
				margin-left:6px;
				cursor:pointer;
			
			}
			
			.input-primary {
			
				width:100%;
				display:block;
				margin: 0 auto;
				margin-bottom:20px;
				border-bottom:1px solid #444;    
				text-align:center;
				color:#1a1a1a;
				
			
			
				&.input-md {
					width:50%;
					float:left;
				
				}
				
				&:focus {
					border-bottom: 1px solid #21afbf;
				}
			
			}
		}
	}
}

	
.editor-open .event-editor-container {

	top:0;

}	
	

.editor-open nav ul.signed-in {

	top:120px;

}	


.editor-open {
	position:relative;
	top:120px;

}		

	
.event-editor-container	{
	transition: top .2s ease-in-out;
	position:fixed;
	top:-120px;
	left:0;
	width:100%;
	background:#1a1a1a;
	height:120px;
	overflow:hidden;
	-webkit-box-shadow: inset 0px -8px 37px -5px rgba(0,0,0,0.6);
	-moz-box-shadow: inset 0px -8px 37px -5px rgba(0,0,0,0.6);
	box-shadow: inset 0px -8px 37px -5px rgba(0,0,0,0.6);
	
	
	.event-editor-design {
	
		display:none;
		
		&.active {
			display:block;
		
		}
		
		a {
			width:16.6666666666666%;
			color:#fff;
			font-size:10px;
			line-height:20px;
			
			&:hover {
				background:#21afbf;
			
			}
					
		}
		

		
		img {
			display:block;
			height:100%;
			width:auto;
			margin:0 auto;
			height:70px;
		
		}
	
	} 
	
	
	
	.event-editor-share {
		
		display:none;
	
		&.active {
			display:block;
		
		}		
	
	
	}
	
	
	
	a {
	
		color:#fff;
		font-size:10px;
		line-height:26px;
		opacity:0;
		width:33.3333333333%;
		float:left;
		display:block;
		//color:#fff;
		text-align:center;
		padding:20px;
		min-height:120px;
		
		
		&:hover {
			background:#21afbf;
			color:#fff;
		
		}
			
	
			
		input {
		padding: 10px;
	    font-size: 14px;
	    color: #444;
	    width: 201px;
	    background: #F3F2F2;
	    display: block;
	    margin: 0 auto;
	    margin-top: 8px;
		}
		
		i {
			display:block;
			font-size:40px;
		
		}
		
		
		
		
		
	
	}

}
	
	
	
	




.checkmarks {
  bottom: 0;
  position: absolute;
  width: 100%;
  z-index:1;
  text-align: center;
  ul {
    margin: 0;
    li {
    margin: 10px 10px 20px;
    padding: 30px;
    width:50px;
    height:50px;
    font-size: 40px;
    border: 2px solid #fff;
    border-radius:50%;
    opacity: .6;
    transition: opacity .2s ease-in-out;

    &:hover {
      opacity: 1;
    }
    }

  }
}


.introjs-helperNumberLayer {
	display:none !important;

}

.introjs-tooltip {
	text-align:center;
	max-width:500px !important;
	margin-left:-250px !important;
	width:500px;
	padding: 20px 30px !important;
	    border-radius: 0 !important;
}


.introjs-tooltiptext h3{
	font-size:44px;
	line-height:56px;
	margin-bottom:10px;
	font-weight:300;

}


.introjs-tooltiptext h4{
	font-size:28px;
	line-height:36px;
	margin-bottom:10px;
	font-weight:300;

}

.introjs-tooltiptext p{
	font-size:14px;
	line-height:22px;
	color:#555;

}

.introjs-tooltipbuttons {
	text-align:center !important;
}

.introjs-button {
	background: #21afbf !important;
  color: #fff  !important;
  text-shadow: none  !important;
  margin: 10px 5px !important;
  
  font-family: "sofia-pro",sans-serif !important;
  font-size: 14px !important;
  padding: 12px 26px !important;
  border-radius: 40px !important;
  font:14px "sofia-pro" !important;
  
  &:hover {
  
  
  }
  
  &.introjs-prevbutton, &.introjs-skipbutton {
  	//background:#888 !important;
  
  }
  
  &.introjs-disabled {
  	opacity:.5;
  }
  
  
  
}

.introjs-arrow.bottom {

    right: 10px !important;
}




//start the themes 

.theme.active {
	background:rgba(255,255,255,.05);

}

.event-page.visible {
	display:block;

}



.event-container.brunch {

	.event-page {
		background-image:url(brunch.jpg) !important;
	}

	input, textarea {
		width: 100%;
		text-align: center;
	}

	.event-page, input, textarea {
		color: #fff;
		font-family: "brandon-grotesque",sans-serif;
		font-style: normal;
		text-align: center;
		font-weight: 300;
		

		.event-details {
				input {
					font-size: 16px;
					width: 100%;
					text-align: center;
				}
				font-weight: 400;
				
			
			}

	
		.event-info {
	
			h1, h1 span[data-bip-attribute="name"] input {
				font-size:80px;
			
			}
	
			.btn {
				border-radius:4px;
			
			}	
	

		
			.event-description, textarea {
				font-size:14px;
				font-weight: 400;
			}
		
		
		}
	
	}



}










.event-container {
	input, textarea {
		 background: none;
		//background: rgba(255,255,255, 0.2);
		border:none;
		line-height: inherit;
		margin: 0;
		font-style: normal;
		padding: 0;

		//border-bottom: 1px dashed #fff;
		&:focus {
			//outline: none;
		}
	}

		.event-details, .event-description {
				//display: table;
				span {
					//border-bottom: 1px dashed #fff;

					input,textarea {
						width: auto;
						border: none;
					}

					
				}

				.best_in_place:focus {
						border: none !important;
				
				}

				input {
				//	width: 600px;
				}
			}
}

.event-container.nyc {

	.event-page {
		background-image:url(nyc.jpg) !important;
	}
	
	.event-info, input, textarea {
		font-family:Helvetica;
		text-transform:uppercase;
		letter-spacing:1px;
		max-width:100%;
		width: 100%;
		text-align:left;
		font-weight: 600;
		color:#fff;
		
		.event-details input {
			font-weight: 600;
			font-size: 16px;
		}
	
		
			h1, h1 span[data-bip-attribute="name"] input {

				font-size:100px;
				line-height:105px;
				font-weight: 600;
				margin-bottom: 0;	
			
			}
			
			.btn {
				padding:20px 40px;
				border-radius:0;
			
			}	
			
			
			.event-description, span[data-bip-attribute="description"] textarea  {
				
				font-size:12px;
				padding: 0;
			
			}
			
		
	}

}






.event-container.confetti {

	.event-page {
		background-image:url(confetti.jpg) !important;

		
		
		.overlay {
			display:none;
		
		}
		
		h1, h1 span input {
			color: #fff;
			font-size: 40px;
		    letter-spacing: 8px;
		    text-transform: uppercase;
		    font-style: italic;
		    font-family: "freight-display-pro",sans-serif;
		    font-style: normal;
		    text-align: center;
		    font-weight: 400;
		}
		
		.event-details, .event-description, .event-details input, .event-description textarea {
			color: #fff;
			font-family: "brandon-grotesque",sans-serif;
			font-weight: 800;
			text-transform:uppercase;
			font-size: 12px;
			 letter-spacing: 1px;
			 width: 100%;
			 text-align: center;
		
		}

		.event-details input {
			width: 100%;
			text-align: center;
		}
		

		
		.btn {
			font-family: "freight-display-pro",sans-serif;
			font-style: normal;
			font-weight: 400;
			
		
			
		}
	
	}

	
}





.event-container.sunset {
	input, textarea {
	text-align: center;
	width: 100%;
	color: #fff;
	}

	.event-page {
		background-image:url(sunset.jpg) !important;
		
	
		.event-details input {
			font-size: 16px;

		}

		.event-description textarea {
			font-size: 12px;
		}
		
		h1, h1 span input {
			font-size: 80px;
			text-align: center;
			color: #fff;
			font-family: "kinescope",sans-serif;
			font-style: normal;
			font-weight: 400;
		}
		
		
	}

	
}





.event-container.linen {

	.event-page {
		background-image:url(linen.jpg) !important;
		color:#333;
		
		
		.overlay {
			display:none;
		
		}
		textarea, input {
			width: 100%;
			text-align: center;
			margin-bottom: 0;
			padding: 0;
			line-height: 10px;
		}
		.event-details, .event-details textarea, .event-details input {
			color:#B53737;
			font-family: "brandon-grotesque",sans-serif;
			font-weight: 800;
			text-transform:uppercase;
			font-size: 12px;
			letter-spacing: 1px;
		
		
		}

		
		h1, h1 span input{
			font-family: "lush",sans-serif;
	    font-style: normal;
	    font-weight: 400;
	    font-size: 193px;
	    line-height: 126px;

		
		
		}
		
		
		.btn {
		
			color:#B53737;
			border-color:#B53737 !important; 
			
		
		}
		
		
		
		
	}

	
}





.event-container.flower {

	.event-page {
		background-image:url(flower.jpg) !important;

		textarea, input {
			width: 100%;
			text-align: center;
			color: #fff;
		}
		
		.event-time, input {
			font-family: "freight-display-pro",sans-serif;
		 	font-weight: 400;
		 	font-size: 137px;
		 	letter-spacing: 6px;
		 	padding-top:90px;
		}
		.event-time {

		 	font-style: italic;
		}

		
		.overlay {
			opacity:.2;
		
		}

			
		h1, .event-location, h1 input {
		
			font-family: "brandon-grotesque",sans-serif;
			font-weight: 800;
			text-transform:uppercase;
			font-size: 12px;
			letter-spacing: 1px;
			padding:0;
			line-height:16px;
		
		}
		textarea {	
		    font-family: "sofia-pro",sans-serif;
		    font-weight: 300;
		    color: #fff;
		    font-size: 12px;
		    padding: 0;
		}
		
		.btn {
			border-radius:0;
			background:#fff;
			color:#222 !important;
		
		}
		
		
	}

	
}






