// Place all the styles related to the events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.events-list {
	.event {
		background:#efefef;	
		clear:both;
		margin:20px 0;
		padding:20px;
		box-sizing:border-box;
		
		.image {
			width:200px;
			height:200px;
			float:left;
			margin-right:10px;
			background-size:cover;
			display:block;
		
		}
		
		.title {
			font-size:30px;		
		
		}
	
	
	
	}
	
	.event:after {
		content: "";
 		display: table;
 		clear: both;		
	}

}

.percent {
    position: fixed;
    z-index:2;
    top: 0;
    width: 100%;
    height: 10px;
    display: block;
    background-color: transparent;

    span {
    width: 0%;
    background-color: #21afbf;
    height: 100%;
    display: block;

    }
}

.slide-up-hide {
    top: -20%;
    opacity: 0;
    z-index:0;
}

.slide-down-hide {
    top: 20%;
    opacity: 0;
    z-index:0;
}

.slide-up-show {
    top: 0%;
    opacity: 1;
    z-index: 1;
}

.event-registration .field {
    padding: 160px 100px 100px 100px;
    transition: all .3s ease-out;
    position: absolute;
}


.event-registration  .input-primary{
color:#1a1a1a;
text-align: center;
border-bottom:1px solid #444;    
}




.event-registration {

    // position: fixed;
    // z-index:9999;
}
.side-nav {
    top: 40%;
    z-index: 9999;
    li {
        list-style-type: none;
        margin: 20px 10px;
      a {
        width: 10px;
        border-radius: 50%;
        height: 10px;
        display: block;
        background: #fff;
        transition: background-color .2s ease-in-out;

            &:hover, &.active {
                background-color: #21afbf;
            }
        }
    }
    position: absolute;
    right: 0;
}
