// Place all the styles related to the events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.events-list {
	.event {
		background:#fff;	
		clear:both;
		margin:20px 0;
		padding:20px;
		box-sizing:border-box;
		
		.image {
			width:200px;
			height:200px;
			float:left;
			margin-right:30px;
			background-size:cover;
			display:block;
		
		}
		
		.title {
			font-size:30px;		
		
		}
		
		.registrants {
			margin-top:20px;
		
		}
		
		.actions {
			margin-top:20px;
			
			a {
				font-size:12px;
				margin-right:10px;
				display:inline-block;
			}
		
		}
	
	
	
	}
	
	.event:after {
		content: "";
 		display: table;
 		clear: both;		
	}

}

.percent {
    position: fixed;
    z-index:2;
    top: 0;
    width: 100%;
    height: 10px;
    display: block;
    background-color: transparent;

    span {
    width: 0%;
    background-color: #21afbf;
    height: 100%;
    display: block;

    }
}

.slide-up-hide {
    top: -20%;
    opacity: 0;
    z-index:0;
}

.slide-down-hide {
    top: 20%;
    opacity: 0;
    z-index:0;
}

.slide-up-show {
    top: 0%;
    opacity: 1;
    z-index: 1;
}




.event-registration  .input-primary{
color:#1a1a1a;
text-align: center;
border-bottom:1px solid #444;    
}




.event-registration {

    // position: fixed;
    // z-index:9999;
}
.side-nav {
    top: 40%;
    z-index: 9999;
    li {
        list-style-type: none;
        margin: 20px 10px;
      a {
        width: 10px;
        border-radius: 50%;
        height: 10px;
        display: block;
        background: #fff;
        transition: background-color .2s ease-in-out;

            &:hover, &.active {
                background-color: #21afbf;
            }
        }
    }
    position: absolute;
    right: 0;
}



.attendee-form-container {
	
	//position:fixed;
	position:relative; 
	width:100%;
	//z-index:999;
	//top:5%;
	//left:0;

	
	#attendee-form {
		width:100%;
		margin:0 auto;
		background:#1a1a1a !important;
		text-align: center;
		padding:50px 40px;
		color:#fff;
		
		form {
			max-width:500px;
			margin:0 auto;
			
			ul {
				margin: 0 0 40px 0;
			
				li {
				  width: 49%;
				}
			}
			
			label {
				font-size:18px;
				margin-left:6px;
				cursor:pointer;
			
			}
			
			.input-primary {
			
				width:100%;
				display:block;
				margin: 0 auto;
				margin-bottom:20px;
				border-bottom:1px solid #444;    
				text-align:center;
				color:#1a1a1a;
				
			
			
				&.input-md {
					width:50%;
					float:left;
				
				}
				
				&:focus {
					border-bottom: 1px solid #21afbf;
				}
			
			}
		}
	}
}






.checkmarks {
  bottom: 0;
  position: absolute;
  width: 100%;
  z-index:1;
  text-align: center;
  ul {
    margin: 0;
    li {
    margin: 10px 10px 20px;
    padding: 30px;
    width:50px;
    height:50px;
    font-size: 40px;
    border: 2px solid #fff;
    border-radius:50%;
    opacity: .6;
    transition: opacity .2s ease-in-out;

    &:hover {
      opacity: 1;
    }
    }

  }
}
