@charset "UTF-8";

@font-face {
  font-family: "ec";
  src:url("fonts/ec.eot");
  src:url("fonts/ec.eot?#iefix") format("embedded-opentype"),
    url("fonts/ec.woff") format("woff"),
    url("fonts/ec.ttf") format("truetype"),
    url("fonts/ec.svg#ec") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "ec" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "ec" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-alpha:before {
  content: "a";
}
.icon-arrow-double-left:before {
  content: "b";
}
.icon-arrow-down:before {
  content: "c";
}
.icon-arrow-left:before {
  content: "d";
}
.icon-arrow-right:before {
  content: "e";
}
.icon-arrow-up:before {
  content: "f";
}
.icon-bolt:before {
  content: "g";
}
.icon-camera:before {
  content: "h";
}
.icon-chart:before {
  content: "i";
}
.icon-chat:before {
  content: "j";
}
.icon-check:before {
  content: "k";
}
.icon-close:before {
  content: "l";
}
.icon-columns:before {
  content: "m";
}
.icon-download:before {
  content: "K";
}
.icon-email:before {
  content: "L";
}
.icon-expand:before {
  content: "M";
}
.icon-flag:before {
  content: "N";
}
.icon-folder:before {
  content: "O";
}
.icon-folder-open:before {
  content: "P";
}
.icon-group:before {
  content: "Q";
}
.icon-hamburger:before {
  content: "R";
}
.icon-heart:before {
  content: "S";
}
.icon-home:before {
  content: "T";
}
.icon-image:before {
  content: "U";
}
.icon-info:before {
  content: "V";
}
.icon-key:before {
  content: "W";
}
.icon-library:before {
  content: "X";
}
.icon-list:before {
  content: "Y";
}
.icon-loader:before {
  content: "Z";
}
.icon-move:before {
  content: "0";
}
.icon-pause:before {
  content: "1";
}
.icon-pencil:before {
  content: "2";
}
.icon-plus:before {
  content: "3";
}
.icon-print:before {
  content: "4";
}
.icon-question:before {
  content: "5";
}
.icon-quote:before {
  content: "6";
}
.icon-replay:before {
  content: "7";
}
.icon-replay-back:before {
  content: "8";
}
.icon-search:before {
  content: "9";
}
.icon-settings:before {
  content: "!";
}
.icon-sign-out:before {
  content: "\"";
}
.icon-star:before {
  content: "#";
}
.icon-trash:before {
  content: "$";
}
.icon-undo:before {
  content: "%";
}
.icon-unlock:before {
  content: "&";
}
.icon-upload:before {
  content: "'";
}
.icon-user:before {
  content: "(";
}
.icon-users:before {
  content: ")";
}
.icon-edit-inline:before {
  content: "n";
}
.icon-edit-website:before {
  content: "o";
}
.icon-image-1:before {
  content: "p";
}
.icon-layout:before {
  content: "q";
}
.icon-questions:before {
  content: "r";
}
.icon-share:before {
  content: "s";
}
.icon-share-window:before {
  content: "t";
}
.icon-twitter:before {
  content: "u";
}
