// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.widgets {height: 100%}


.pages {
	background:#fff;
	color:#222;
	
	
	.logo {
	  display: block;
	  width: 250px;
	  height: 37px;
	  background-image: url(event_create_logo.png);
	  background-repeat: no-repeat;
	  background-size:contain;
	}
	
	
	
}


#home {

    
    h1 {
    	font-size:240px;
      line-height: .8em;
    	text-align:left;
    	margin:40px 0 20px;
    	letter-spacing:1px; 
    	font-weight:bold;
    	
    }


		h2 {
			font-size:40px;
		  line-height: .8em;
			margin:80px 0 40px;
			letter-spacing:1px; 
			font-weight:bold;
			
		}
    
    .lead {
    	font-size:20px;
    
    
    }
    
    .container {
    	height:auto;
    	-webkit-background-size: cover;
    	 -moz-background-size: cover;
    	 -o-background-size: cover;
    	 background-size: cover;
    	 background-repeat:no-repeat;
    	background-image: url(home/3.jpg);
    	color:#fff;
    	padding-bottom:200px;
    
    }
    
  
}


.example {
	
	text-align:center;
	min-height:400px;
	margin: 0 auto;
	width: 80%;

	.screen {
	
		width:80%;
		margin:0 auto;
		padding-top:40px;
	
		img {
			
			width:100%;
			height:auto;
		
		}
	
	
	
	}


}

.footer {
	text-align:center;
	font-size:12px;
	color:#999;
	margin:50px 0 30px;

}






