* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #fff;
  color: #333;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

// a {
//   color: #000;
//   &:visited {
//     color: #666;
//   }
//   &:hover {
//     color: #fff;
//     background-color: #000;
//   }
// }


a {
    color: #21afbf;
    text-decoration: none;
    transition: color .4s ease;  
    background: none;
}
 a:hover {
    color: darken(#21afbf, 10%) !important;
  
 }

 .btn:hover {
  color: #fff !important;
 }

 a:visited {
  color: #fff;
 }

 .registration a {


  color: #fff;


 }


div {
  &.field, &.actions {
    margin-bottom: 10px;
  }
}

#notice {
  color: green;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0px;
    background-color: #c00;
    color: #fff;
  }
  ul li {
    font-size: 12px;
    list-style: square;
  }
}


html,body {height:100%;}

body { padding:0;margin:0; color:#fff;}
footer { margin-top: 100px; }
table, td, th { vertical-align: middle; border: none; }
th { border-bottom: 1px solid #DDD; }
table img { width:100px;}

* {
    padding:0;
    margin: 0;
}

h1,h2,h3,h4,h5,h6,p, table, ul, textarea {
    margin-bottom: 40px;
}

/* apply a natural box layout model to all elements, but allowing components to change */

#logo {
    display: block;
    width: 300px;
    height: 45px;
    background-image: url(event_create_logo.png);
    position: absolute;
    top: 20px;
    left: 20px;

}

#logo span {text-indent:-9999px; position:absolute;}


html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}



html {
    min-height: 100%;
}

body {
    margin: 0;
    font-family: "sofia-pro",sans-serif;
    font-style: normal;
    font-weight: 300;    
}


h1 {
    color: #fff;
    font-size:56px;
    font-weight: 300;
    line-height: 66px;
}

.container {
    padding: 100px;
}

input:focus {
    outline: none;
}
.main-container {
    height: 100%;
}


.navbar-default {
    background: transparent;
    border-bottom: none;
}



 #center, #center-below, #center-above {
   display: block;
   top: 50%;
   left: 50%;
   width: 100%;
   text-align: center;
    -webkit-transform: translate(0%,50%);
    -webkit-transform-origin: 50% 50%;
 }

 h1 {
    text-align: center;
 }

 nav ul {
 /*   position: fixed;
    right: 20px;
    top: 20px;*/
    float: right;
    margin: 20px;
 }

 nav {
    position: fixed;
    z-index:2;
    width: 100%;
 }
 nav ul  li {
    display: inline-block;
 }

 nav ul li a {
    padding: 0 20px;
    color: #21afbf;


 }




 .container.registration {
    background: #ccc;
 }

 .registration, .event-registration {
    text-align: center;
    overflow: hidden;
 }

 .registration form, .event-registration form {
    width: 800px;
    margin: 0 auto;
 }



.container, .event-registration {
    height: 100%;
    background: rgb(66,75,87);
    background: -moz-radial-gradient(center, ellipse cover,  rgba(66,75,87,1) 0%, rgba(49,59,74,1) 100%);
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(66,75,87,1)), color-stop(100%,rgba(49,59,74,1)));
    background: -webkit-radial-gradient(center, ellipse cover,  rgba(66,75,87,1) 0%,rgba(49,59,74,1) 100%);
    background: -o-radial-gradient(center, ellipse cover,  rgba(66,75,87,1) 0%,rgba(49,59,74,1) 100%);
    background: -ms-radial-gradient(center, ellipse cover,  rgba(66,75,87,1) 0%,rgba(49,59,74,1) 100%);
    background: radial-gradient(ellipse at center,  rgba(66,75,87,1) 0%,rgba(49,59,74,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#424b57', endColorstr='#313b4a',GradientType=1 );
    
}
.container.dashboard {
    height :auto;
}


.input-primary {
    font-family: "sofia-pro",sans-serif;
    font-weight: 100;
    background: none;
    border: none;
    border-bottom: 1px solid #fff;
    margin-bottom: 20px;
    width: 60%;
    height: 60px;
    font-size: 30px;
    color: #fff;
    transition: border-bottom .2s ease;
}

input.input-primary:focus {
    border-bottom: 1px solid #21afbf;
}

.event-registration {
    padding: 0;
    //overflow: hidden;
}

.alert {

    position: absolute;
    background: aquamarine;
    padding: 16px 20px;
    margin: 10px 0;
    right: 40%;
    z-index:2;
    border-radius: 4px;
}

.event-registration, .event-registration form {
    width: 100%;
    height: 100%;
    margin-bottom: 0;

}

.event-registration .field {
    width: 100%;
}

.event-page {
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    width: 100%;
    height: 80%;
    position: relative;
    top: 0;
    left: 0;
    z-index:0;
}

.event-info {
    position: relative;
    z-index: 1;

    height: 80%;
    //max-width: 600px;
    margin: 0 auto;

    h1 {

      padding-top: 200px;
    }
} 

.overlay {
    background: #000;
    width: 100%;
    height: 100%;
    opacity: .6;
    position: absolute;
    top: 0;
    left: 0;
    z-index:1;
    //display: none;
}
.event-registration .actions {
    bottom: 0;
    position: fixed;
    padding: 40px;
    text-align: center;
    background: #ccc;
    width: 100%;
    margin-bottom: 0;
}

.actions a {
    margin: 0 20px;
    padding: 20px;
}


.event-registration .field input {

    text-align: center;
}

.profile {
    border-radius: 50%;
}


.container.event-container {
    height: 100%;
    padding: 0;
}

.input-md {
  width: 40%;
}

.input-lg {
  width: 85%;
  //margin: 0 20px;
}





#attendee-form {
    background: #a0002f;
    width: 100%;
    height: 600px;
    padding: 60px;
    display: block;
    form {
      text-align: center;

  margin: 0 auto;
  width: 80%;
  li {
    margin-left: 0;

    width: 49%;
    color: rgba(255,255,255,.6);
          span {

        font-family: "sofia-pro",sans-serif;
    font-weight: 100;
    font-size: 30px;
  
    
  }

  }





    }

    textarea, input {
      text-align: center;
      margin: 20px;
      border-bottom-color: rgba(255,255,255, .4);
      transition: all .2s ease-out;

      &:focus {
      outline: none;
      border-bottom-color: rgba(255,255,255, 1);
      }
    }

      textarea {
        margin-bottom: 80px;

  }
}



.list-inline { 
  li {
  
  display: inline-block;
  }
}
.list-unstyled {
  li {
    list-style-type: none;
    margin-left: 0;
  }
}

.btn-bordered {
  border: 2px solid #fff;
  background: none;
  padding: 10px 50px;
  transition: all .2s ease-out;
  &:hover {
    background: #fff;
    color: #a0002f !important;
  }

}
