<p>To complete your registration, please confirm your email <%= @email %> by clicking the button below:</p>

<p><%= link_to 'Confirm my account', confirmation_url(@resource, confirmation_token: @token) %></p>
