<div class="feedback-tab">
	<div class="feedback-tab-header">Looking for more design templates? <i class="icon icon-arrow-down"> </i></div>

	<form accept-charset="UTF-8" action=
	"https://eventdiscover.wufoo.com/forms/x1drh1hr1d8z3rc/#public" autocomplete=
	"off" class="wufoo topLabel page" enctype="multipart/form-data" id="form8"
	method="post" name="form8" novalidate="">

	<div class="form-header"> <p> We're currently adding new design templates and are looking for feedback! </p> </div>

	<div class="input-group">
		<label>Would you like more design templates to choose from?</label>
	                <select class="field select medium" id="Field4" name="Field4"
	                tabindex="1">
	                    <option selected="selected" value="">
	                        </option>
	                    <option value="Yes">
	                        Yes
	                    </option>
	                    <option value="No">
	                        No
	                    </option>
	                </select>
	</div>
	<div class="input-group">
	            <label class="desc" for="Field1" id="title1">What type of event are you planning?</label>
	                <textarea class="field textarea medium" cols="20" id="Field1"
	                name="Field1" onkeyup="" rows="10" spellcheck="true" tabindex=
	                "2" placeholder="ie Tech conference "></textarea>
	</div>
	<div class="input-group">
	        <input class="btTxt btn btn-small submit" id="saveForm" name="saveForm" type=
	                "submit" value="Submit">
	        
	        <div style="display:none;"><label for="comment">Do Not Fill This Out</label> 
	        <textarea cols="1" id="comment" name="comment" rows="1"></textarea>
	        <input id="idstamp" name="idstamp" type="hidden" value=
	        "DekVgEU2g4RIL6BcM3rWjAymdnsUfM3Ao2LjCF7s48w="></div>
	    </ul>
	</div>
	</form>

</div>


<script>
$( document ).ready(function() {
    $(".feedback-tab-header").on( "click", function() {
  		$(this).parent(".feedback-tab").toggleClass("visible");
	});

});

</script>