<div class="feedback-tab">
	<div class="feedback-tab-header">Get a custom designed website! <i class="icon icon-arrow-down"> </i></div>

	<form accept-charset="UTF-8" action=
	"https://eventdiscover.wufoo.com/forms/x1drh1hr1d8z3rc/#public" autocomplete=
	"off" class="wufoo topLabel page hidden" enctype="multipart/form-data" id="form8"
	method="post" name="form8" novalidate="">

	<div class="form-header"> <p> We're currently adding new design templates and are looking for feedback! </p> </div>

	<div class="input-group">
		<label>Would you like more design templates to choose from?</label>
	                <select class="field select medium" id="Field4" name="Field4"
	                tabindex="1">
	                    <option selected="selected" value="">
	                        </option>
	                    <option value="Yes">
	                        Yes
	                    </option>
	                    <option value="No">
	                        No
	                    </option>
	                </select>
	</div>
	<div class="input-group">
	            <label class="desc" for="Field1" id="title1">What type of event are you planning?</label>
	                <textarea class="field textarea medium" cols="20" id="Field1"
	                name="Field1" onkeyup="" rows="10" spellcheck="true" tabindex=
	                "2" placeholder="ie Tech conference "></textarea>
	</div>
	<div class="input-group">
	        <input class="btTxt btn btn-small submit" id="saveForm" name="saveForm" type="submit" value="Submit">
	        
	        <div style="display:none;"><label for="comment">Do Not Fill This Out</label> 
	        <textarea cols="1" id="comment" name="comment" rows="1"></textarea>
	        <input id="idstamp" name="idstamp" type="hidden" value=
	        "DekVgEU2g4RIL6BcM3rWjAymdnsUfM3Ao2LjCF7s48w="></div>
	</div>
	</form>



        <form accept-charset="UTF-8" action=
        "https://eventdiscover.wufoo.com/forms/z1g0p04o11smx44/#public" autocomplete=
        "off" class="wufoo topLabel page" enctype="multipart/form-data" id="form11"
        method="post" name="form11" novalidate="">

                        <div class="input-group">
                                <label class="desc" for="Field1" id="title1">What type of event are
                                you planning?<br></label>
                                <input class="field text medium" id="Field1" maxlength="255"
                                    name="Field1" onkeyup="" tabindex="1" type="text" value="" placeholder="ie Tech Conference">
                        </div>    


                        <div class="input-group" style="display:none;">

                                <label class="desc" for="Field103" id="title103">Tell us a little
                                more about the event.</label>
                                    <textarea class="field textarea medium" cols="50" id="Field103"
                                    name="Field103" onkeyup="" rows="10" spellcheck="true"
                                    tabindex="2"></textarea>

                        </div>
                        
                        <div class="input-group">

                                    <![if !IE | (gte IE 8)]><label class="desc notranslate" id=
                                    "title3">What sections do you need?</label> 


                                        <span class="subfield"><input class="field checkbox" id=
                                        "Field3" name="Field3" tabindex="3" type="checkbox" value=
                                        "Speakers"> <label class="choice" for="Field3"><span class=
                                        "choice__text notranslate">Speakers</span> <span class=
                                        "choice__qty"></span></label></span> <span class=
                                        "subfield"><input class="field checkbox" id="Field9" name=
                                        "Field9" tabindex="4" type="checkbox" value=
                                        "Event Description"> <label class="choice" for=
                                        "Field9"><span class="choice__text notranslate">Event
                                        Description</span> <span class=
                                        "choice__qty"></span></label></span> <span class=
                                        "subfield"><input class="field checkbox" id="Field4" name=
                                        "Field4" tabindex="5" type="checkbox" value="Schedule">
                                        <label class="choice" for="Field4"><span class=
                                        "choice__text notranslate">Schedule</span> <span class=
                                        "choice__qty"></span></label></span> <span class=
                                        "subfield"><input class="field checkbox" id="Field5" name=
                                        "Field5" tabindex="6" type="checkbox" value="Map">
                                        <label class="choice" for="Field5"><span class=
                                        "choice__text notranslate">Map</span> <span class=
                                        "choice__qty"></span></label></span> <span class=
                                        "subfield"><input class="field checkbox" id="Field6" name=
                                        "Field6" tabindex="7" type="checkbox" value="Photos">
                                        <label class="choice" for="Field6"><span class=
                                        "choice__text notranslate">Photos</span> <span class=
                                        "choice__qty"></span></label></span> <span class=
                                        "subfield"><input class="field checkbox" id="Field7" name=
                                        "Field7" tabindex="8" type="checkbox" value="Sponsors">
                                        <label class="choice" for="Field7"><span class=
                                        "choice__text notranslate">Sponsors</span> <span class=
                                        "choice__qty"></span></label></span> <span class=
                                        "subfield"><input class="field checkbox" id="Field8" name=
                                        "Field8" tabindex="9" type="checkbox" value="Video">
                                        <label class="choice" for="Field8"><span class=
                                        "choice__text notranslate">Video</span> <span class=
                                        "choice__qty"></span></label></span>
                            </div>

                            <div class="input-group">

                                <label class="desc" for="Field105" id="title105">Any specific
                                feature or design requests?</label>
                                    <textarea class="field textarea medium" cols="50" id="Field105"
                                    name="Field105" onkeyup="" rows="10" spellcheck="true"
                                    tabindex="10" placeholder=""></textarea>
                            </div>

                            <input id="idstamp" name="idstamp" type="hidden" value=
                            "xeZ1HcE/w4tM5/vVAjRPSs4u4BsD5+EdIp4jI/oapLM=">

                            <div class="input-group">
	        					<input class="btTxt btn btn-small submit" id="saveForm" name="saveForm" type="submit" value="Get my custom design">

                            </div>

                         </form>




</div>


<script>
$( document ).ready(function() {
    $(".feedback-tab-header").on( "click", function() {
  		$(this).parent(".feedback-tab").toggleClass("visible");
	});

});

</script>