
<div id="attendee-form" name="attendee-form" >

	<div class="modal-header modal-header-light">
		    <button data-remodal-action="close" class="remodal-close"></button>
		    <i class="icon icon-line-email" style="display: none;"> </i>
		    <h2>Select tickets</h2>
 </p>
		  
	</div>


	<div class="modal-body">
	
  
	<div class="tickets">
		
         <div class="ticket">


            <select>
			  <option value="0">0</option>
			  <option value="1">1</option>
			  <option value="2">2</option>
			</select>


            <h3>Early Bird Ticket </h3>
            <p>$15.00</p>
            <p>Vestibulum sed vulputate justo. Morbi gravida ac libero vitae eleifend. Vivamus volutpat interdum lacus, in consectetur ligula elementum sed</p>
            <p class="small"> Available until March 2, 2015 </p>



          
          </div>

          <div class="ticket">


          	<select>
			  <option value="0">0</option>
			  <option value="1">1</option>
			  <option value="2">2</option>
			</select>


            <h3>General Admission </h3>
            <p>$25.00</p>
            <p>Vestibulum sed vulputate justo. Morbi gravida ac libero vitae eleifend. Vivamus volutpat interdum lacus, in consectetur ligula elementum sed</p>
            <p class="small"> Available until March 2, 2015 </p>

			
		


          </div>

	</div>



	<button class="btn">Continue</button>

	
  
  </div>

</div>